[2018-11-05 17:03] fmherschel opened #9 "Problem with ADOC variables {ldquo} and {rdquo} PLUS problems with indentation of paragraphs/titles"
While I  was able to solve some document internal problems regarding variable replacement we still
have two variables referenced by common_gfdl1.2_i.adoc. The missing variables are: {ldquo} and {rdquo}.

[2018-11-06 09:55] fmherschel opened #10 "Gnu document license does not fit in section structure"
Currently the GDL beginns with
"0. Preamble" but should be
"13.0" or "13.1" "Preamble"

The reason might be that the GDL is included without setting a section-indentation.
Or is that "0. Preamble" printed by plan?
If I look at the sources I see:

[float]
== 0. PREAMBLE

[2018-11-06 10:06] fmherschel commented on #9
In section "5.2 Installation" some paragraphs begin with a plus sign (+). In our adoc the plus has
been added, because we tell adoc to keep the indentation also after examples.

Also the titles of examples are damaged. And they begin with a plus sign and are formatted as paragraphs instead of titles.

Examples:
 "+ .The XML password template", "+ .Using hdblcm in batch mode" (Examples for damaged

[2018-11-06 12:56] chabowski commented on #10
Hi Fabian, this is indeed by purpose - all documents have the GFDL in this format.

[2018-11-06 13:01] petersatsuse commented on #10
On 06.11.18 13:56, Meike Chabowski wrote:

Then it needs to be always the last chapter as it would be confusing to
have e.g. 1,2,3,0,4,5

cu
  Peter

[2018-11-06 14:07] chabowski commented on #9
After discussing with Tom, we decided to replace these variables (which are indeed only quotation marks) with clear text, as variables are not really needed here.

[2018-11-06 14:44] fmherschel commented on #9
+1

[2018-11-06 14:53] chabowski commented on #10
Yep that is correct. The GFDL should always be the last "section" or chapter of a document.

The structure of this section is given by the Free Software Foundation. In our official SUSE product documentation, the GFDL section can have a section number in the table of contents (e.g. 8. GNU Free Documentation License) or an Appendix attribute (e.g. C. GNU Free Documentation License), but inside the

[2018-11-06 14:57] fmherschel commented on #10
Ah! So the "0. Preamble" is something like a 1:1 quotation of the original text which should never been changed even not by a typesetting program.
In this case could close the issue.

[2018-11-06 14:59] chabowski commented on #10
Yes indeed that is the case. Thanks! Closing issue.

[2018-11-06 14:59] #10 closed

[2018-11-06 15:00] fmherschel commented on #9
About the second topic - I only added the second topic, because github disallowed me to open an own issue for that (the apply button keeps gray):
Do you like me to send you (via mail) to screenshots of the "original" typesetting in our build and the
screenshot of the build document available online?

[2018-11-06 15:03] chabowski commented on #9
Yes that might be helpful. I am still "investigating" - it most probably is a conversion bug but I don't know yet why.

[2018-11-06 17:05] fmherschel commented on #9
send the screenshots via eMail

[2018-11-06 17:09] chabowski commented on #9
Yes - got them, thank you Fabian! I am struggling to find the bug/issue - our build does it correctly in Example 7 but fails starting with Example 8 (which as far as I can see uses the same structure with the + like Example 7 ... ). But we will get there - I will ask Frank to have a look at it tomorrow morning ...

[2018-11-07 16:47] chabowski commented on #9
@fmherschel: we found the issue, it was a simple formatting issue. The bullet list above the two examples that did not show up correctly is now in an open block, the example titles show up correctly and the examples also have the correct indentation now.

[2018-11-07 16:53] fmherschel commented on #9
Are the changes for this issue and also the problem solution for ldquo/rdquo committed to the project? Currently I do not see the commit. I would like to rebase/refork the project to test a rebuild.

[2018-11-07 17:10] chabowski commented on #9
commit 56374a873034c0729cee49b4eb174e5998424fd5 contains the solution for the format issue that caused the buggy display of the example titles. It also contains the fix of an outdated link, and replacement of abbreviation SLES with SUSE Linux Enterprise Server (there is a policy that there should not be product name abbreviations in plain text). I will give the paper another review tomorrow though

[2018-11-12 16:10] chabowski opened #12 "Page break and smaller font in ADOC?"
@fmherschel: Do you know how to insert a page break in an adoc document? The usual  <<<  does not work ...  I would like to have the GFDL separated from the rest of the document, starting on an extra page, and also with a smaller font. But all I tried did not work out. It is just cosmetics, but still would be nice to have to be "in synch" with the other SUSE Best Practices written in DocBookXML.

[2018-11-12 17:00] chabowski commented on #12
@fmherschel: hmmmm - let me think about it and discuss with Frank when he is back from Prague. Thanks for the proposal however!!

[2018-11-12 17:17] fmherschel commented on #12
@chabowski: Alternatively we could try to repair the book style and switch-back to the book-style.

[2018-11-15 09:50] fmherschel commented on #9
@chabowski: Did you have had a chance to review the paper and to publish it? Today I still got the old version from the sle12 docu page. Do you like to send us (Bernd and me) a build pdf just before publishing it?

[2018-11-15 15:40] chabowski commented on #12
@fmherschel: not closing the issue, as reminder for doc team to work on a solution. However, for now, we leave the GPDL in adoc as is (normal font, no page break). After we found a viable solution, we can easily update the document. Thanks!

[2018-11-15 15:53] chabowski commented on #9
@fmherschel, @pirat013
[SLES4SAP-hana-scaleOut-PerfOpt-12_color_en.pdf](https://github.com/SUSE/suse-best-practices/files/2586031/SLES4SAP-hana-scaleOut-PerfOpt-12_color_en.pdf)
 - hmm seems the latest version I sent was on Thurs evening - sorry I meant to send another one on Mon and was wondering why I didn't hear back. You should have a current version in your inbox, but I just built a new one -

[2019-03-18 13:28] chabowski commented on #12
@fmherschel

we found a solution for the page break when processing adoc with DAPS and our style sheets. You can "fool" the system with passing an xml /xstl pdf page break at least:

++++
<?pdfpagebreak?>
++++

There is no solution so far for the font size. The team does not support putting the GFDL into an image. Thus we leave it as is for now in the adoc documents, GFDL with normal font size.

I

[2019-03-18 13:28] #12 closed

[2019-05-02 17:21] fmherschel commented on #9
I think we could close this issue right now.

[2019-05-02 17:21] #9 closed

[2019-05-02 17:25] chabowski commented on #9
Sounds good - thank you :-)

[2019-08-07 17:18] sknorr opened #42 "Broken links in SBPs"
@chabowski Hi, we had Slade from the Web team review 404 links. The SBPs had 48 broken links. Note that some links may be false positives.

[code]

[2019-08-08 13:02] chabowski commented on #42
@sknorr ARRRGGHHHH I checked every link of each single SBP before I had them published. Very annoying. Will re-check them and update accordingly :-(.

Thanks!!

[2019-08-13 15:43] chabowski commented on #42
Thank you, all links are checked and should work now. Two links need login info - but by purpose.
Closing issue now.

[2019-08-13 15:43] #42 closed

[2020-02-03 17:42] chabowski opened #60 "Missing image in Multi-SID paper"
@pirat013 @fmherschel

Hi Bernd, Fabian,

I am currently editing the Multi-SID paper, and it seems that in chapter
=== Architecture Central Services
there is missing an image for:
.Integration of {sapS4} and {sapNW} into the Cluster Using the Cluster Connector

I cannot find it in the images folder unfortunately.

And, it also seems that the other images are missing image captions /titles - is tha

[2020-02-04 07:48] pirat013 commented on #60
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Good morning Meike,

the purpose of .Integration.... was a smaller headline. But this was the
wrong way to do it:
==== Integration of {sapS4} and {sapNW} into the Cluster Using the
Cluster Connector

The picture titles are missing. How should I fix that? should I create a
new pull request or via Mail?
.{hana} System Replication Scale-Up in the Clust

[2020-02-04 08:23] chabowski commented on #60
@pirat013

Hi Bernd,

via email is completely fine, as long as I know what to include!

Thanks,
Meike

[2020-02-04 10:21] fmherschel commented on #60
@chabowski Hi Meike could you continue to work, or should we provide the above changes via a new commit / PR?

[2020-02-04 10:32] chabowski commented on #60
@fmherschel @pirat013
Hi Fabian, sorry I didn't copy you on my latest comment: I don't need a new PR as the info is provided here in the issue. I will ask if I need anything else. However, today I am quite burried in meetings.  :-( ....

Thanks and talk soon,
Meike

[2020-02-04 16:48] chabowski commented on #60
@pirat013 @fmherschel

Another question:
_Line 227:  Since version 3.1.0 and later the maintenance mode of cluster resources triggered with SAP_
is there missing some text?

Thanks!

[2020-02-05 08:48] pirat013 commented on #60
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

@fmherschel

yes, there is text missing, it should be:

Since version 3.1.0 and later the maintenance mode of cluster resources
triggered with SAP sapcontrol commands is supported.

Regards Bernd

Warm regards
Bernd Schubert
SAP Solution Architect
(On-site @ SAP, St. Leon Rot, Germany)

Mobil: +49 173 5876798
Phone: +49 6227 752139
E-mail: bschubert

[2020-02-05 14:17] chabowski commented on #60
@pirat013 @fmherschel

Hi Bernd and Fabian,

Document is - from my point of view - ready to be posted. Do you want to have a final check? Just see below. And please let me know if you want to see further changes.

Thanks very much
Meike

[SBP-SAP-MULTI-SID_color_en.pdf](https://github.com/SUSE/suse-best-practices/files/4159930/SBP-SAP-MULTI-SID_color_en.pdf)

[2020-02-05 15:14] pirat013 commented on #60
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Hallo Meike,

im Kapitel Multi-SID - Central Services sollten die Scenarios als Bullet
Liste aufgeführt sein und nicht als fließtext.

NAch dem Abschnitt:
EXAMPLE 3: CONFIGURATION EXAMPLE FOR A 4TH SID AND FOLLOWING, FOR
EXAMPLE XAS

sollte das hier eine Kleine Überschrift werden:
.Add the 2nd and further SID into the cluster

Jetzt ist es im Fliesß

[2020-02-05 15:23] fmherschel commented on #60
Ich habe noch folgendes (bisher) gefunden:
Das Bild 'FIGURE 7: MULTIPLE SAP CENTRAL SERVICES INSTANCES RUNNING IN A MULTI-NODE CLUSTER' ist zweimal im Dokument -einmal ziemlich verzerrt und einmal normal.

[2020-02-05 15:46] chabowski commented on #60
@pirat013
Hi Bernd,
da hat einfach jeweils nur eine Leerzeile gefehlt, einmal vor den Bullet points, und einmal for dem Example Title. Ist gefixt.

@fmherschel
Hi Fabian,
ich sehe nur einmal Figure 7 - siehe angehängter Screenshot.

Neues PDF anbei.

LG - Meike
[SBP-SAP-MULTI-SID_color_en.pdf](https://github.com/SUSE/suse-best-practices/files/4160430/SBP-SAP-MULTI-SID_color_en.pdf)
![Figure 7 Mult

[2020-02-05 16:33] fmherschel commented on #60
Sorry mein Fehler - es war einmal TWO-NODE und einmal MULTI-NODE. :/

[2020-02-06 07:05] pirat013 commented on #60
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Guten Morgen,

für mich sieht das gut aus, Danke.

Gruß Bernd

Warm regards
Bernd Schubert
SAP Solution Architect
(On-site @ SAP, St. Leon Rot, Germany)

Mobil: +49 173 5876798
Phone: +49 6227 752139
E-mail: bschubert@suse.com
Web: http://www.suse.com
Follow: https://www.suse.com/c/tag/towardszerodowntime/

- ----------------------------------------

[2020-02-06 13:20] chabowski commented on #60
Hallo nochmal, okay - wenn keine weiteren Verbesserungswünsche da sind, dann werden wir demnächst bauen und publizieren.

LG - Meike

[2020-02-06 13:22] pirat013 commented on #60
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Ja, raus damit :-)

Gruß Bernd

Warm regards
Bernd Schubert
SAP Solution Architect
(On-site @ SAP, St. Leon Rot, Germany)

Mobil: +49 173 5876798
Phone: +49 6227 752139
E-mail: bschubert@suse.com
Web: http://www.suse.com
Follow: https://www.suse.com/c/tag/towardszerodowntime/

- -----------------------------------------------------------------
SUSEC

[2020-02-06 14:21] fmherschel commented on #60
Ja raus damit :)

[2020-02-06 14:29] chabowski commented on #60
Schon dabei ;-) - sollte hoffentlich heute Abend noch online gehen (braucht immer so ca. 2-3 Stunden)
LG - Meike

[2020-02-06 15:52] fmherschel commented on #60
@chabowski: Wie machst Du das eigentlich mit den PDF links in das github?

[2020-02-06 15:57] chabowski commented on #60
HIHIHI GROSSES GEHEIMNIS :-) ...

Nee - das funktioniert über config Dateien - Zauberer Stefan hat sie erfunden, und olle Meike hat mit den SBP die interessantesten config Dateien (... in Zukunft auch mit Bauen einzelner SBPs und Ausgabe in "Sub-Pages" nach Kategorien, und Einbindung externer Links, etc ... ).

Stefan hosted die PDFs bei uns auf docserv - und die werden beim Bauen über die config

[2020-02-19 06:21] pirat013 commented on #60
can we close this issue :-)
Bernd

[2020-02-19 10:13] chabowski commented on #60
Of course, sorry ;-)

[2020-02-19 10:13] #60 closed

[2020-06-04 09:21] pirat013 opened #86 "SAP HANA System Replication Scale-Up - Performance Optimized Scenario"
The chapter Set Up SAP HANA HA/DR providers is incomplete, task 4 and 5 are missing in both guide for SLE12 and 15.

[2020-06-09 15:20] fmherschel commented on #86
Hmm I thought I did explicitly wrote that part. Lets look in the sources once I have time to do that.
Thanks for the heads-up.

[2020-06-09 16:07] chabowski commented on #86
@fmherschel Would you mind checking the sources on SBP master? Probably you forgot to do a PR after having updated the doc in your repo?

[2020-08-10 15:38] chabowski commented on #86
Hi @pirat013 and @fmherschel, is this issue still open?
Thanks - Meike

[2020-08-12 06:25] fmherschel commented on #86
Yes unfortunately I had to focus on other projects and completely forgot to work on this issue. I still need to check, why these subsections disappeared. In the master they are really missing also in the sources (so no build-problem).

[2020-09-02 19:01] rbeldin opened #90 "[doc] 11.1 Do’s and Don’ts"
11.1  Do’s and Don’ts:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-12/index.html#_dos_and_donts

I think the 4th bullet is really part of the 3rd bullet.  Am I correct?   See below.    The language is also a little awkward, perhaps:  Adding location rules for the clone, master/slave, or IP resource.  Only location rules mentioned in this setup guide are allowed as '

[2020-09-08 11:55] chabowski commented on #90
Hi @rbeldin, thanks very much for your comment! I will discuss it with the author of the doc and have the content changed accordingly. Really appreciated! Kind regards - Meike

[2020-09-30 12:13] roseswe opened #94 "[doc] Example&nbsp;13: Checking the Operation Mode"
Example&nbsp;13:  Checking the Operation Mode :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-12/#id-1.9.7.5

Is with both "Check both global.ini files and add the operation mode if needed."  the SYSTEMDB and TENANT refereed or the Node1 and Node2 (should be explained). Customers loose here a lot of time with guessing

[2020-09-30 12:18] roseswe opened #95 "[doc] Example&nbsp;12: Adding SAPHanaSR via global.ini"
Example&nbsp;12:  Adding SAPHanaSR via global.ini :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-12/#id-1.9.6.6

On one node only or on all nodes? We should document this more in detail

[2020-09-30 13:29] roseswe opened #96 "[doc] Example&nbsp;11: Stop SAP HANA"
Example&nbsp;11:  Stop SAP HANA :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#id-1.9.6.5

How can we verify that the hook is working correctly?

[2020-09-30 15:09] roseswe opened #97 "[doc] Example&nbsp;7: Copy the KEY and KEY-DATA file from the primary to the secondary site"
Example&nbsp;7:  Copy the KEY and KEY-DATA file from the primary to the secondary site :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#id-1.8.8.4

This rsync example needs an overhaul, or should be replaced e.g. by scp or completely left of. In the current way it confuses the reader more than being helpful.

[2020-09-30 15:34] chabowski commented on #94
@fmherschel @lpinne @pirat013
Ralph Roth has submitted several issues/questions  (via the "report a bug" link in the doc which opens a GitHub issue).
Can you please have a look? This is his first question/issue.
Thanks very much!

[2020-09-30 15:34] chabowski commented on #95
@fmherschel @lpinne @pirat013
Ralph Roth has submitted several issues/questions  (via the "report a bug" link in the doc which opens a GitHub issue).
Can you please have a look? This is his second question/issue.
Thanks very much!

[2020-09-30 15:35] chabowski commented on #96
@fmherschel @lpinne @pirat013
Ralph Roth has submitted several issues/questions  (via the "report a bug" link in the doc which opens a GitHub issue).
Can you please have a look? This is his third question/issue.
Thanks very much!

[2020-09-30 15:35] chabowski commented on #97
@fmherschel @lpinne @pirat013
Ralph Roth has submitted several issues/questions  (via the "report a bug" link in the doc which opens a GitHub issue).
Can you please have a look? This is his fourth question/issue.
Thanks very much!

[2020-09-30 15:41] fmherschel commented on #95
The *global.ini* is Global to an entire SAP HANA database (once) per site. As typically the global.ini is installed on NFS for Scale-Out it needs (of course) only to be changed once per site. This should be clear for SAP architects and is more a SAP specific question.
For scale-Up it needs to be done on both sides. We already explained that:

[2020-09-30 15:44] fmherschel commented on #94
The global.ini file is sigular per SAP HANA database (so for all tenants) at least this is my point of view. So the statement is clear for me.

[2020-09-30 15:45] roseswe commented on #94
As said I mirror only customer experience here

[2020-09-30 15:45] roseswe commented on #95
As said I mirror only customer experience here

[2020-09-30 15:46] fmherschel commented on #94
We even provide the full and clear Path for the global.ini: /hana/shared/<SID>/global/hdb/custom/config/

[2020-09-30 15:48] fmherschel commented on #94
The markdown damaged my last comment, fixed it now. So the path only depends on the SID not the tennant. The is no global.ini per tennant.

[2020-09-30 15:50] fmherschel commented on #95
And left is at the left side ;-)

[2020-09-30 16:21] fmherschel commented on #90
As far as I remember Lars already answered the questions. Is there still something we did not answer?

[2020-09-30 16:25] fmherschel commented on #96
@rosewe: Good Point! I hope we can add the hook validation in the next version of the paper. As far as I remember we did add this info already to the next version of the cost optimized best practice. Once this doc is published we are working on the "backport" of the new findings to the perf optimized guide.
Thanks for the heads-up. This issue should be stay open till we could solve that.

[2020-09-30 16:29] fmherschel commented on #86
@chabowski : I like to label the issues such as "bug", "enhancement", "invalid". However in the area "labels" In just see "None yet" and I am not able to add labes to the issues. Could you please promote me so I could add them?

[2020-09-30 16:32] fmherschel commented on #97
@rosewe: Could you explain why scp would be better than rsync?

[2020-09-30 16:38] fmherschel commented on #86
@chabowski : I have seen that you added assignees and labels to one of the other issues. However I am not allowed to do that by my owne :/

[2020-09-30 16:54] chabowski commented on #86
Hmm - do you know how I can make you be able to add labels etc ??

[2020-09-30 16:57] fmherschel commented on #86
I do not know how to change my permissions. Maybe one step back. How did you add the labels?
I tried the following:
1. Open the issue
2. At the right side there is a list of "facts" like "Assignees", "Labels", "Projects". In this project they are all grey for and I could not
change the contents of "Assegnees" and "Labels"
Maybe I do something wrong?

[2020-09-30 16:58] fmherschel commented on #86
I can see your changes, but could not edit them.

[2020-09-30 17:00] fmherschel commented on #86
In the project "https://github.com/SUSE/SAPHanaSR" the entries are also grey, but I have a "properties"-wheel (gear) at the most right side. This allows me to edit things. In this project I do not have these gears.

[2020-09-30 17:01] chabowski commented on #86
@fmherschel I did the same and could add you and the other assignees and the labels. It is probably a matter of who might directly contribute to the repo?

[2020-09-30 17:05] chabowski commented on #86
@fmherschel are you a member of the https://github.com/SUSE/SAPHanaSR repo, with admin or at least write access rights?

[2020-09-30 17:07] chabowski commented on #86
@fmherschel can you check if it works now? I gave you write access to the repo.

[2020-09-30 17:12] fmherschel commented on #86
@chabowski : Yes :) That looks good now!

[2020-09-30 17:13] fmherschel commented on #86
@chabowski : Maybe "Triage" would also be enough:
https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization

[2020-09-30 17:15] chabowski commented on #86
@fmherschel in our org, we only have read, write, admin. But that is fine!

[2020-09-30 17:19] fmherschel commented on #86
@chabowski : +1

[2020-10-01 06:49] fmherschel commented on #90
@rbeldin: You are right both items technically handle about constraints, ban-rules and so on. The difference is, that the first is an explicit add of rules while the second is adding rules implicitly. Customers often have overseen that "migrating" resources does add either ban rules (--force) or location rules (if positive). This is why we separated that. They just do not know that a simple klick

[2020-10-01 08:53] lpinne commented on #90
@rbeidin: As fmherschel wrote, many customers do not know the consequences of moving resources by HAWK or crm.
Left-over migration constraints are among the favourite causes for support requests.
The next version of the guide will contain something like:
- As "migrating" or "moving" resources in crm-shell, HAWK or other tools would add client-
prefer location rules, support is limited to maintenan

[2020-10-01 08:58] lpinne commented on #97
@roseswe: Thanks for the comments. May I ask to better understand:
1. What is the advantage of scp over rsync?
2. How should the cluster work without syncing the files?
3. What would be a better explanation?

[2020-10-01 09:05] lpinne commented on #96
@rosewe: Thank your for the hint.
Next version will contain something like:
 * Example for checking the system log for srHook  setting  HANA  system
       replication status in the CIB properties section.
         # grep "sudo.*crm_attribute.*srHook" /var/log/messages

 *  Example  for  checking the HANA tracefiles for srConnectionChanged()
       events.
         # su - sleadm
         ~> cdtrac

[2020-10-01 09:18] lpinne commented on #95
@roseswe: Thanks for the hint. Even if global.ini should be known to SAP admins, I agree the mentioned example is a little unclear. We might add somthing like:
---
On both nodes add HADR provider hook script SAPHanaSR to HANA's global.ini. Do not copy the global.ini
file between nodes. Before editing global.ini, stop the HANA on both nodes. See manual page SAPHanaSR.py(7)
for details.
---

[2020-10-01 09:50] lpinne commented on #94
@roseswe: fmherschel alraedy fixed the error. We also might change the wording to something like:
---
Check the global.ini file on both nodes and add the operation mode if needed.
---
May I add an note, because there might be a pattern:
We have to distinguish between errors in our documents and reader's perception.
If a wrong path is given that is an error.
If a reader expects information about HA

[2020-10-01 15:36] rbeldin commented on #90
That sounds very good.   We recently dealt with a customer who had a bunch of constraint issues left over from when they were migrating some of the cloned resources and it took quite some time to resolve.  Thanks for the quick response!   I think we can close this but I will leave the actual closing up to you in case you need to wrap this up in some way.

[2020-10-02 10:30] fmherschel commented on #90
Thanks for your feedback! We will mark that section as "todo" in the sources so we do not forget to update it. Later we will close the issue.

[2020-10-06 19:09] chancesy opened #99 "[doc] 3.2.4 Configure HTTP Proxies"
3.2.4  Configure HTTP Proxies:

https://documentation.suse.com/sbp/all/html/SAP_HA740_SetupGuide_AWS/index.html#_configure_http_proxies

Hi There,

I can see a configuration to enable the proxy (section 3.2.4) by putting the http/https_proxy config under the user root (.bashrc)
What I have at the moment is connection to AWS using a proxy which is configured global configuration on the linux server

[2020-10-07 12:18] chabowski commented on #99
@fmherschel @pirat013
Could you please have a look at the comment, check with the colleagues from AWS if necessary, and let Chance know?
Much appreciated!

Thanks and kind regards,
Meike

[2020-10-27 08:44] blauerdaemon opened #115 "[doc] Example&nbsp;28: Main SAP HANA Update procedure, delete maintenance meta attribute"
Example&nbsp;28:  Main SAP HANA Update procedure :

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-15/index.html#id-1.12.4.4.5

As a last step, remove the maintenance meta attribute with:

crm resource meta master-slave-resource delete maintenance

[2020-10-27 09:23] fmherschel commented on #115
You point is not "end" the maintenance using the crm resource maintenance <resource> off but deleting the meta attribute, so it falls back to the default and could not interference with cluster global attributes?

[2020-10-27 09:43] fmherschel commented on #115
To be honest I would like the crm resource <res> maintenance command would be handle to do that properly instead doing a work-around at an other level.

[2020-10-27 09:54] blauerdaemon commented on #115
I fully agree with that. But right now we need to advise customers to delete any remaining meta attributes (e.g. for manage/maintenance) each time they finish maintenance operations.

Having the above snipped in our docs would help to prevent unfortunate cluster operations that are caused by meta attributes which are a left over from previous operations.

[2020-10-30 10:33] ldevulder opened #117 "[doc] 4.2 Installing ASCS on valuga11"
4.2  Installing ASCS on valuga11:

https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE15/index.html#_installing_ascs_on_valuga11

Like in `4.3 Installing ERS on valuga12`, the permissions on `/usr/sap/EN2/ASCS00` need to be adjust during installation, like this:
[code]

[2020-10-30 10:51] ldevulder opened #118 "[doc] 4.4.4 Adapting SAP Profiles to Match the SAP S/4-HA-CLU 1.0 Certification"
4.4.4  Adapting SAP Profiles to Match the SAP S/4-HA-CLU 1.0 Certification:

https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE15/index.html#_adapting_sap_profiles_to_match_the_sap_s4_ha_clu_1_0_certification

There are two errors in the filenames:
- `/usr/sap/EN2/SYS/profile/EN2ASCS00_sapen2as_` should be `/usr/sap/EN2/SYS/profile/EN2_ASCS00_sapen2as`
- `/usr/sap/EN2/SYS/profil

[2020-11-02 07:47] fmherschel commented on #118
Thanks for your feedback. I will check that. I think this is a format problem (as in ADOC the underscore is also formatting bold).

[2020-11-02 08:01] fmherschel commented on #117
Thanks for the feedback. I added this to the ASCS inst procedure.

[2020-11-02 08:15] fmherschel commented on #117
Patch will be included in the next update.

[2020-11-02 08:17] fmherschel commented on #118
The undersore marks italic (cursive) not bold. Unfortunately some times ADOC struggles, if you have undersores in the string which should be italic. This I changes now the format to bold to get rid of the bad file-name (trailing undersore).

[2020-11-03 09:24] wtmpx opened #122 "[doc] Example&nbsp;1: Installing additional software for the HA cluster"
Example&nbsp;1:  Installing additional software for the HA cluster :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#id-1.6.5.4.3

Please let us tell customer to install this package as well supportutils-plugin-ha-sap for all SAP HANA documentation

[2020-11-03 10:33] fmherschel commented on #122
Which package are you referring to?

Do you mean this one? Then I misunderstood your grammar.

[2020-11-03 10:49] wtmpx commented on #122
Hi Fabian,

Yes this package will collect HANA releated logs which is needed for us in support.

# zypper if supportutils-plugin-ha-sap
Refreshing service 'SMT-http_dolly_hwlab_suse_de'.
Loading repository data...
Reading installed packages...

Information for package supportutils-plugin-ha-sap:
---------------------------------------------------
Repository     : SLE-Module-SAP-Applications15-SP1-

[2020-11-04 11:29] ldevulder opened #125 "[doc] 4.2 Installing ASCS on valuga11"
4.2  Installing ASCS on valuga11:
https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE15/index.html#_installing_ascs_on_valuga11

and
4.3 Installing ERS on valuga12:
https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE15/index.html#_installing_ers_on_valuga12

Like the database installation, I think that `clean-up` should be set to yes: `Clean-up: select Yes, remo

[2020-11-04 11:37] fmherschel commented on #125
No, why? This also very SAP software specific. So it depends on the decision, if the SAP Basis admin like to keep the users and goups.
Maybe they even need to install more components.

[2020-11-04 13:38] ldevulder commented on #125
I asked this because it's in the [Installing Database on valuga01](https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE15/index.html#_installing_database_on_valuga01) section.

[2020-11-05 16:14] fmherschel commented on #125
We could remove it on both. However database is something different.
The concrete decision always depends on what the SAP BASIS likes to do we (SUSE) do not need to document it. We only have the installation procedure like a short reference (for non productive installations we say how we did install it). We are not the authority to tell 100% what an SAP BASIS admin must do at SAP side. We have the

[2020-11-06 07:55] ldevulder commented on #125
Ok, understood, thanks for the comment!
But as other instance have to be installed on `valuga01` (in the examples), it might be a good idea to remove it as well in this specific case, no?

[2020-11-06 11:39] ldevulder opened #129 "[doc] 4.5 Installing Database on valuga01: Instance Number issue?"
4.5  Installing Database on valuga01:

https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE15/index.html#_installing_database_on_valuga01

If I set the Instance Number to 00 as the doc said, then I have a `Instance Number "00" is already in use by local SAP System EN2` error. As far as I understand each SAP instance should have a unique ID, so in that cas 00 is already used by ASC

[2020-11-09 09:26] fmherschel commented on #129
You missed the point that we are installing the database (by intention) on a seperate server. The InstanceNumber is only unique per linux server system (node).
If you install SAP HANA on the same system as ASCS and ERS you are modelling a complete different cluster.
As the SAP S/4 HANA HA certification just focuses at the Application Server Level (here ASCS/ERS plus multiple AS) the
database needs

[2020-11-09 09:27] fmherschel commented on #129
I hope that explained why InstanceNumber 00 could be used twice.

[2020-11-09 09:27] #129 closed

[2020-11-09 09:29] fmherschel commented on #125
Our SAP procedure is still only a remark. We just documented how we did install it as we processed the certfication.

[2020-11-09 09:29] #125 closed

[2020-11-09 09:52] ldevulder commented on #129
No because in my case I installed SAP HANA on a different system. I have 3 servers, one for SAP HANA/PAS/AAS and a 2-nodes cluster for ASCS/ERS. But as I explained it seems that the duplicate ID is found because `/usr/sap/EN2/SYS` is a NFS share mounted on all nodes.

Is `/usr/sap/EN2/SYS` should be mounted on SAP HANA server also or not?

[2020-11-09 10:05] fmherschel commented on #129
Please follow our documentation! As ASCS/ERS will NOT be running on valuga01 at any time there is no doublet on the
InstanceNumber. Please also check that the SID for the SAP HANA is different to the one used for ASCS/ERS!

[2020-11-18 16:08] #117 closed

[2020-11-18 16:08] #118 closed

[2020-11-23 11:11] dkloos opened #132 "[doc] Figure&nbsp;2: One cluster for central services, one for SAP HANA SR"
Hello,
while reading trought this Guide I was "struggeling" with this design.

Figure&nbsp;2:  One cluster for central services, one for SAP HANA SR :
[SAP S/4 HANA - Enqueue Replication 2](https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE15/index.html#id-1.4.10.3.3)
![image](https://user-images.githubusercontent.com/44433238/99955759-28013480-2d85-11eb-9fe5-60ec27626f12.png)

[2020-11-23 17:05] chabowski commented on #132
Hi @dkloos - thank you very much for your comment!

@fmherschel Would you mind having a look at the issue regarding the paper "SUSE Linux Enterprise Server for SAP Applications 15 - SAP S/4 HANA - Enqueue Replication 2 High Availability Cluster - Setup Guide"

Thanks again!
Meike

[2020-11-30 11:53] rjmayne opened #133 "[doc] 8.2.3 Cluster Configuration for All Other Cluster Nodes"
8.2.3  Cluster Configuration for All Other Cluster Nodes:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-12/#_cluster_configuration_for_all_other_cluster_nodes

Current text is: "Than all needed configuration files are copied over."

The word "Than" should be "Then", e.g. "Then all needed configuration files are copied over."

[2020-11-30 11:55] rjmayne opened #134 "[doc] 8.2.4 Check the Cluster for the First Time"
8.2.4  Check the Cluster for the First Time:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-12/#_check_the_cluster_for_the_first_time

The paragraph "The command will show the "empty" cluster and will print something like the screen output below. The most interesting information in this output is that there are two nodes in the status "online" and the message "p

[2020-12-02 11:42] fmherschel commented on #133
Fixed in sources.

[2020-12-02 11:42] #133 closed

[2020-12-02 11:43] fmherschel commented on #134
Thanks for sharing - this is most likely a copy-over from Scale-Up. I will mark this for the next update.
Fixed in sources, closing here.

[2020-12-02 11:43] #134 closed

[2020-12-02 12:00] fmherschel commented on #132
It is and was a SAP certification requirement. And the guide referenced by the certification needs to describe exactly what the architecture for the certified cluster is/was:
Why does SAP recommend to have PAS and AAS separately? It is that if you install PAS and AAS on the same
cluster nodes that implies test interference if you kill a cluster node an Application server PLUS an SAP Instance for C

[2020-12-03 09:15] dkloos commented on #132
Hello @fmherschel ,
Thanks for your answer.
So the reason why the PAS was not installed on the same cluster as the  ASCS Service is just to keep the focus on the cluster setup and certification? So there is no concern installing the PAS (or AAS) on the same nodes as the ASCS rather then on a HDB Server?

[2020-12-03 09:24] fmherschel commented on #132
@dkloos
Yes and no ;-) Initially the certification setup did "force" us to split between the ASCS/ERS vs PAS and AAS. You could combine then I would say. But combining might also increase complexity. I would prefer to have to "tiny" VM systems in a cluster which are running ASCS and ERS and to have the workload (Application Servers) separated.
And ... if you would follow our described tests you ne

[2020-12-03 10:04] pirat013 commented on #132
@dkloos
one remark in addition to @fmherschel last statement. If you install the PAS and AAS on the same host's as ASCS and ERS are installed and they run out side of the cluster. If one of you cluster node's failed and need to be fenced you will lose your PAS / AAS together with your ASCS / ERS. The ASCS / ERS is maintained by pacemaker and will be moved to a node who is alive.
PAS and AAS in a c

[2020-12-03 12:27] dkloos commented on #132
@fmherschel

That is true and I fully agree with you!!
So to put the PAS and AAS Service (which are not managed by pacemaker ressources) on the HDB Cluster is not a "....perfect Enhancment..." if set up like this picture??? [SAP S/4 HANA - Enqueue Replication 2](https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE15/index.html#id-1.4.10.3.3)

@pirat013

Thats clear for me and a go

[2020-12-07 10:03] fmherschel commented on #132
I like to stop this discussion here at github as it is to public for me.

[2021-01-04 13:35] fmherschel commented on #132
It is still a point of standardization. The SAP certification extracts them with good reasons as already explained. What your point might be - we should not have even added them to the second cluster. Does that answer your question?

[2021-01-04 13:43] fmherschel commented on #122
@wtmpx : How urgent/important is that?

[2021-01-04 13:48] fmherschel commented on #115
@blauerdaemon  Could you tell us about urgency and importance (from your point of view)?

[2021-01-04 14:02] wtmpx commented on #122
Not urgent

[2021-01-04 14:07] lpinne commented on #122
Hi wtmpx,

1. The request for supportutil-plugin-ha-sap https://bugzilla.suse.com/show_bug.cgi?id=1170085 is still in status "new."
Might be changed to solved?

2. I have created https://bugzilla.suse.com/show_bug.cgi?id=1180531 to get the RPM into pattern sap_hana and/or
sap_nw. You might look at that.

3. I have made me a note on adding the package to the next setutp guide update.
Since several

[2021-01-04 14:28] lpinne commented on #122
Hi,

next SAP HANA SR 15 Cost Opt guide will mention the package.

Regards,
Lars

[2021-01-04 15:25] lpinne commented on #122
Hi,

next SAP HANA SR 15 Perf Opt guide will mention the package.

Regards,
Lars

[2021-01-05 09:11] fmherschel commented on #99
We are currently research that issue together with our public cloud partner.

[2021-01-11 09:22] lpinne opened #141 "[doc] Table&nbsp;3: Description of important Resource Agent parameters"
Table&nbsp;3:  Description of important Resource Agent parameters :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15_AWS/index.html#id-1.10.7.9.5

[2021-01-11 09:23] lpinne commented on #141
" If the time difference is less than the time gap, than the cluster hold ..." should be
" If the time difference is less than the time gap, then the cluster hold ..."

[2021-01-11 16:14] dkloos commented on #132
@fmherschel : Yes, That is the point I want to clarify. Cause for me it was kind of confusing while searching for a best practice design for an HA HANA DB and also ASCS setup.
The reason why this setup was done for the "Lab Setup" is now clear for me. Thanks!
And my conclusion of that discussion is:
- Dialog instances should not be on clustered Systems -> they will be killed hard on cluster failur

[2021-01-18 10:49] fmherschel commented on #132
Thanks for the feedback, @dkloos . I interpret this issue (question) as answered, so I close the issue right now.
Please feel free to open an other issue.

[2021-01-18 10:49] #132 closed

[2021-01-18 10:49] fmherschel commented on #132
Thanks for the feedback, @dkloos . I interpret this issue (question) as answered, so I close the issue right now.
Please feel free to open an other issue.

[2021-01-27 18:16] chabowski commented on #141
This is fixed - as we rebuild the repo anyways, I took the chance to fix the typo. Changes will be online after the build is done.

[2021-01-27 18:16] #141 closed

[2021-02-02 11:59] roseswe opened #148 "[doc] 9.2.1 Cluster Bootstrap and More"
9.2.1  Cluster Bootstrap and More:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#_cluster_bootstrap_and_more

The SBD is formatted with

Timeout (watchdog) : 20
Timeout (allocate) : 2
Timeout (loop)     : 1
Timeout (msgwait)  : 40

So
stonith-timeout="150s"

should be 48s, right?

[2021-02-02 12:06] chabowski commented on #148
@fmherschel would you mind checking the above question? Thanks very much!

[2021-02-09 06:55] Martin-Weiss opened #150 "[doc] 2.1 Kubernetes Distribution -> just RKE2 and NOT RKE?"
2.1  Kubernetes Distribution:

https://documentation.suse.com/sbp/all/single-html/SBP-Private-Registry/#_kubernetes_distribution

-------------------

Any idea why we do not list RKE?

[2021-02-09 07:02] chabowski commented on #150
@bbobrov @jsuchome @dirkmueller can you please have a look at the question above and respond? Thanks very much!

[2021-02-09 08:56] jsuchome commented on #150
It's likely it works on different other k8s distributions, but we listed only those we explicitly tested.

[2021-02-09 09:01] Martin-Weiss commented on #150
Any idea why we tested RKE2 and not RKE which is the standard underneath Rancher ATM?

[2021-02-16 08:15] chabowski commented on #148
Hi @fmherschel @pirat013 @lpinne - as you are the named authors, could one of you please have a look at the comment and reply? Thank you very much!

[2021-02-16 13:11] lpinne commented on #148
@chabowski
1. For the given sbd settings, 48s would be right.
2. The given sbd settings are known to be too short for many cases. Thus in the end resulting stonith-timeout will be in the range of 100s-150s in real life. See e.g. Azure docu.

[2021-02-18 01:05] jamesongithub opened #155 "edit source links broken in Migrate SUSE Linux Enterprise Server 12 SP1 to SUSE Linux Enterprise Server for SAP Applications 12 SP1"
https://documentation.suse.com/sbp/all/single-html/SBP-SLES12SP1-SAP-migrationguide/

all edit source links seem to be broken

https://github.com/SUSE/suse-best-practices/blob/master/xml/MAIN-SBP-SLES12SP1-SAP-migrationguide.xmlMAIN-SBP-SLES12SP1-SAP-migrationguide.xml goes to github 404

@mfriesenegger

[2021-02-18 07:48] chabowski commented on #155
@jamesongithub  @mfriesenegger

Hi James, thanks for reporting this issue. It seems to exist for all SBPs that have the "Edit Source" option enabled. The issue is that the xml file name gets doubled in the URL. Seems to be a stylesheet issue. We are investigating further, and try to fix it.

For now, if you need to edit the source, you can go to the file in GitHub directly
https://github.com/SUSE/

[2021-02-24 20:18] sknorr commented on #155
This has been fixed, fixes are online.

[2021-02-24 20:18] #155 closed

[2021-02-24 23:58] jamesongithub opened #162 "Render adoc toc2 and code copy functionality in html"
1. The `:toc2:` attribute in adoc format formats the toc on the left margin instead of the top of the document. daps seems to ignore this but renders as xhtml (which is a supported backend for the `toc2` attribute). Anyway to get this working?

expected:
![image](https://user-images.githubusercontent.com/4452738/109081728-9375dd80-76b7-11eb-8b16-58ad49f2eb3a.png)

actual:
![image](https://user-ima

[2021-03-01 21:16] jamesongithub opened #166 "Feature: Separate doc page for Legal Notice and GNU Free Documentation License"
For `html` and `single-html` it would be nice to be able to link to a separate page for the legal notice and the gnu license content instead of having a "compile time" include. They are pretty long and take up a lot of space on the doc. e.g. https://documentation.suse.com/sbp/all/html/SBP-SLES12SP1-SAP-migrationguide/index.html -> roughly 75% of the doc is the legal notice and gnu license, whereas

[2021-03-02 07:26] chabowski commented on #166
@sknorr would you mind having a look? Thank you!

[2021-03-02 13:56] sknorr commented on #166
The GFDL needs to be delivered with the document, so I see no good way around this.
However, I think it would make more to relicense to a CC license, as they are more modern and do not need to be shipped as part of the document. I'd suggest a moderately permissive option like CC-Attribution-ShareAlike 4.0 International, or even a more permissive license like CC-Attribution 4.0 International.

Sinc

[2021-03-02 20:12] jamesongithub commented on #166
Hi @sknorr. Thanks. We don't have to change the license right now. Do you have a pointer to where it mentions the GDFL needs to "shipped" with the doc? And what does "shipped" mean when delivered over html?

[2021-03-02 22:54] sknorr commented on #166
You obviously found the GFDL within our documents already...

&

* What exactly it means that the license has to be "included" with the document is something I'd have to guess--again, ianal.
* One of the issues here is that we are also building downloadable Zip archives of all SBP and we currently don't have the technical means to add extra license documents in addition to the PDFs/Single-HTMLs. M

[2021-03-04 11:58] chabowski opened #169 "GCC10 paper: Sentence seems to be wrong"
Hi @jamborm
would you mind having a quick look at the following senctence:

https://github.com/SUSE/suse-best-practices/blob/003f5d1a8a74f72c6d47a5bc395a67b1efce4780/xml/MAIN-SBP-GCC-10.xml#L747

Should it be

"Optimized compilers frequently make decisions according to which path through the code they consider most likely to be executed, how many times a loop is expected to iterate, and similar es

[2021-03-04 14:01] jamborm commented on #169
I think the sentence is correct as it is, it really should be "Optimizing" compilers - as in the compilers which perform optimizations (transformations to make the result run faster).

It is an established term, as or example in: https://www.amazon.com/Building-Optimizing-Compiler-Bob-Morgan-ebook/dp/B008COCE9G

The statement is about all of them, so the subject is plural and so the correct form o

[2021-03-04 14:33] chabowski commented on #169
@jamborm Yep - thank you very much for clarification- that helps. I am well aware that compiler language and terms are quite different ;-) - but that sentence really made me struggle. But I understand it now - and leave it as is, thanks again!

[2021-03-09 12:15] chabowski opened #175 "Clarifiy sentences in suse-best-practices/xml/MAIN-SBP-AMD-EPYC-3-SLES15SP2.xml"
https://github.com/SUSE/suse-best-practices/blob/c08df5286843d5ffe67a7ec566e79e5c6b677fa6/xml/MAIN-SBP-AMD-EPYC-3-SLES15SP2.xml#L122

Hi Dario @dfaggioli
can you clarify the following sentence:

This should be considered when tuning for <emphasis role="italic">Non-Uniform Memory Architecture (NUMA)</emphasis> as all memory accesses are not necessarily to local memory incurring a variable access pe

[2021-03-09 13:47] chabowski commented on #175
@dfaggioli  Next sentence to clarify:

"What is not obvious is the links to the IO die, but it should be taken into account when splitting a workload to optimize bandwidth to memory."

"Not obvious are the links to the IO die, but this (<the fact that the links are not obvious>) should be taken into account .... "
"Not obvious are the links to the IO die, but the IO die should be taken into accoun

[2021-03-09 14:09] chabowski commented on #175
@dfaggioli and one more:

In addition to <package>lstopo</package> can provide the information, the level, size and ID of CPUs that share cache can be identified from the files under <filename>/sys/devices/system/cpu/cpuN/cache</filename>.

Options:

"In addition to <package>lstopo</package> which can provide the information, the level, size and ID of CPUs that share cache can be identified from t

[2021-03-10 01:25] dfaggioli commented on #175
This sentence is right below the figure `fig-epyc-topology`. I think it means that it is not obvious, by looking at that figure, how the various CCXs/dies (which are shown in the figure itself) are connected to the IO die (which is not present in the figure because the tool does not draw it).

But again, @gormanm would be the one source of truth here. :-)

[2021-03-10 01:30] dfaggioli commented on #175
This is still from @gormanm . Personally, I'd go for something like:

"In addition to the information that lstopo can provide, the level, size and ID of CPUs that share cache can be identified from the files under /sys/devices/system/cpu/cpuN/cache."

But we should really double check with him (plus, I'm no native Eng. speaker, so don't trust me!)

[2021-03-10 18:49] gormanm commented on #175
The switch from "necessarily" to "necessary" changes the semantics of the sentence. Alternative suggestion as follows

This should be considered when tuning for Non-Uniform Memory Architecture (NUMA) as all memory accesses may not reference local memory incurring a variable access penalty.

[2021-03-10 18:51] gormanm commented on #175
This version is the best.

[2021-03-10 18:52] gormanm commented on #175
This option is the better of the two. Thanks!

[2021-03-11 18:50] chabowski opened #180 "Is it really "Enlightment" of VMs?"
https://github.com/SUSE/suse-best-practices/blob/018d4f60114b3025fc52fc0475d406b0927b5396/xml/MAIN-SBP-AMD-EPYC-3-SLES15SP2.xml#L2174

@gormanm @dfaggioli

Is it really "Enlightment of VMs"?? I am well aware that tech terms can be strange ;-) - but we had a discussion internally, and after doing some research, we got only "enlightenment" back as results in relation with virtualization.

Thanks ver

[2021-03-11 19:50] gormanm commented on #180
I think this may be a reflection of Dario's style as I'm not familiar with the term itself. I interpreted to mean topology pass-through similar to device pass-through and I think that was the intent. Dario?

[2021-03-12 08:05] dfaggioli commented on #180
It definitely is "enlightenment", and not "enlightment". The latter, I don't think is a word. And yes, I am aware that it is me that wrote it, so I can only apologize for not being able to type / write in English :-(

Well, thanks to you, and sorry if I didn't catch this while reviewing and running a spell-check on the paper myself (and I'm particularly sad to hear that this took what looks to be

[2021-03-12 08:25] dfaggioli commented on #180
Yes. Well, if I've understood well, the bulk of the issue here is me not being able to write in English. :-( But from a semantic point of view, in virtualization, we refer to "enlightening" whenever we make the VM aware of something that, while strictly not necessary for functional correctness, it may result in some advantages, e.g., in terms of improved performance.

Such "improved awareness" cou

[2021-03-12 08:35] chabowski commented on #180
Hi Dario,

I found "enlightenment" in this content quite often via search. "Enlightening" might also be good. But we had "enlightment" throughout that chapter :-), and I wanted to make sure that it is not a term but probably a typo. 😁

And your English is great! Our native English reviewer did not find much.

Kind regards,
Meike

Von meinem/meiner Galaxy gesendet

-------- Ursprüngliche Nachricht

[2021-03-15 16:36] centiqchris opened #184 "[doc] Incorrect Expectation - Section 10.1.9"
Hi,

In the expectation section, after losing the secondary node the first expectation is:

- The cluster detects the failed secondary node (node 2) and declares it UNCLEAN and sets the primary node (node 1) to status "partition WITHOUT quorum".

I believe this to be incorrect.  In the 2 node cluster as described in the doc, two_node is set to 1 in the corosync.conf which reduces the number of vot

[2021-03-17 20:00] jamesongithub opened #187 "subtitle differences between pdf and html docs"
Any reason why the pdf docs have the subtitle after the title
![image](https://user-images.githubusercontent.com/4452738/111530558-aad94100-8720-11eb-95d0-de8d7b8ab830.png)

while on the html it comes before?
![image](https://user-images.githubusercontent.com/4452738/111530571-af9df500-8720-11eb-8a57-bb70e2d7fe15.png)

Seems like subtitle should always be after?

[2021-03-17 20:17] chabowski commented on #187
Hi @jamesongithub James,
what you see first on HTML is not the subtitle, but the products and version numbers.
Title is: Microsoft SQL Server on SUSE Linux Enterprise
Subtitle: Getting Started
Product names and versions: SUSE Linux Enterprise Server 12 SP3- SP5, Microsoft SQL Server 2019

Both look like they should. PDF has the product names below the line.
On HTML, the product names/versions come

[2021-03-18 15:56] jamesongithub commented on #187
i was using the subtitle term loosely, but yeah the version portion.

was just wondering why they differed.

[2021-03-18 16:00] chabowski commented on #187
:-)

[2021-03-18 16:26] #187 closed

[2021-03-19 10:56] vmoutoussamy opened #189 "[doc] 2 Preparing the Installation - Still using the former "Packages" media"
2  Preparing the Installation:

https://documentation.suse.com/sbp/all/single-html/SBP-SLE15-Custom-Installation-Medium/index.html#sec-preparing

We need to update this page with the new "Full" and "Online" Media starting with SP2.

[2021-03-19 16:04] pirat013 commented on #86
done

[2021-03-19 16:04] #86 closed

[2021-03-19 17:55] chabowski opened #190 "[doc] 2.2 Server registration"
2.2  Server registration:

https://documentation.suse.com/sbp/all/html/TRD-sql-server-getting-started/index.html#server_registration

@jamesongithub reported that the Button "Copy Code" does not work throughout the paper.
Let's investigate what happened and how that can be fixed. Thanks!

[2021-03-19 18:28] sknorr commented on #190
Fixed in suse-xsl. Highlight.js was unsetting the click handlers for these buttons.

[2021-03-19 18:28] #190 closed

[2021-03-19 20:08] chabowski commented on #189
Dear @jsrain  - as this paper was written by you, do you think you could update it per request of Vincent?
Thank you very much! Meike

[2021-03-31 08:44] roseswe opened #192 "[Documenation, SAP BP/WP] How to start and stop a complete SAP System"
In the ENSA1/ENSA2 and HANA SRA clustering best practices we describe how to start and stop an single "component" e.g. the HANA DB itself only.

Customers asked how to stop a complete multi-tiered clustered SAP system (DB, ASCS, PAS maybe AAS) and afterwards how to start in the right order. Currently we don't have a guide for this.

[2021-04-12 07:05] #169 closed

[2021-04-12 07:05] #180 closed

[2021-04-12 07:06] #175 closed

[2021-04-12 07:12] chabowski commented on #184
@fmherschel @pirat013 @lpinne sorry this question (bug?) slipped through my attention ...
Could you please have a look and answer @centiqchris ?

Thank you very much!

[2021-04-12 07:14] chabowski commented on #189
Hey @jsrain - would you mind having a look at the request from @vmoutoussamy ? As you are the original author of the paper, you might want to update it? Thanks very much! :-)

[2021-04-12 07:16] chabowski commented on #192
@fmherschel @pirat013 @lpinne would you please have a look at the request from Ralph - is there something planned, or already covered elsewhere? Thanks very much!

[2021-04-13 15:35] domvieira opened #195 "[doc] 2 High Level Overview - diagram is fuzzy"
2  High Level Overview:

https://documentation.suse.com/sbp/all/html/SBP-CSP-UpdateInfra/index.html#sec-overview

The diagram contained in this page is very fuzzy and hard to read. Can we create an updated diagram that is more clear for users to view at a glance?

[2021-04-19 12:53] chabowski commented on #94
Hi @fmherschel and @lpinne,
can we close this issue, or is this still open and an enhancement that is to be expected for the next version?

Thanks very much, and kind regards,
Meike

[2021-04-19 12:56] chabowski commented on #97
Hi @roseswe have you seen the questions above from Lars?
Would be great if you could have a look and answer, so that in a next version, this might be enhanced.

@lpinne @fmherschel please let me know if/when to close this issue.
Thank you!!

[2021-04-19 12:59] chabowski commented on #148
@lpinne @fmherschel do we need to do anything here now/change the document, or should I close this issue?
Thank you!

[2021-04-19 13:50] chabowski commented on #150
@jsuchome would you mind having a look at the question from Martin?
I would just like to know if we need to define a follow-up action, or if we can close the issue.
Thank you very much!

[2021-04-19 13:55] chabowski commented on #162
@sknorr would you mind having a look at this issue from James?

@jamesongithub I think you and I had talked about it, that it is the stylesheet PDF layout where first comes title, then subtitle - and then the product names and versions. It is different in the HTML layout by purpose: on top of the title / subtitle there is written the product name and version, to make it clear to the reader what th

[2021-04-19 13:57] chabowski commented on #166
Thanks @sknorr and @jamesongithub. For now I will close this issue, as it is a matter of license.

[2021-04-19 13:57] #166 closed

[2021-04-19 13:59] chabowski commented on #184
Hi @fmherschel  @lpinne @pirat013
could you please have a look at this issue and decide if this needs to be changed in the document?
Thank you very much!

[2021-04-19 14:43] jsuchome commented on #150
I do not exactly remember, it's possible we assumed RKE2 is becoming default soon so it's better to test with something that users are expected to have.

But I'm not sure now. I suggest to close the issue. The project was killed anyway, wasn't it?

[2021-04-19 16:23] chabowski commented on #150
Thanks @jsuchome - I will close the issue!

[2021-04-19 16:23] #150 closed

[2021-04-19 19:56] jamesongithub commented on #162
hi meike, this one is different. the toc2 adoc functionality format the toc on the side so it's always viewable. please see the first screenshot. nothing related to the subtitle.

the 2nd thing was the copy code functionality -- it copies the shell prompt character which is undesired. I think due to this i had left off the shell prompt character in the guides

[2021-04-20 09:00] fmherschel commented on #184
@centiqchris Thanks, Chris, for you question and exact reading of our best practice. Please give me some time to reproduce that. In theory I understand what you mean. If the cluster would sa I do not have the quorum in must not process anything like a takeover. So from this side you are perfectly right. And it is also true that the corosync layer "heals" the lost node (50% nodes left out of 2). I

[2021-04-20 09:23] chabowski commented on #162
Hi James - ah sorry I got confused :-).
The layout of the docs (and thus of the toc) is not defined by adoc attributes but by the stylesheets in the background.
I don't know how much effort it is to change that - this is a question for Stefan @sknorr

[2021-04-20 09:24] chabowski commented on #195
@japelbaum @mfriesenegger
Hi Jona, I know this is your last week, but do you already know whom to hand over? Thank you very much! (and: I will miss you!)

[2021-04-21 09:10] centiqchris commented on #184
Hi @fmherschel - I look forward to hearing your test results.  I've had the occasion to test this multiple times over the last few months and I've yet to see it say partition without quorum.  My testing was not on SBD based, but IPMI based fencing which is the only difference I can think between my tests and yours, but I can't see it having an impact.  If the surviving node (2) lost quorum, it wou

[2021-04-21 12:46] japelbaum commented on #195
@chabowski @domvieira I am on it. Will create a PR for this later today.

[2021-04-21 13:04] chabowski commented on #195
@japelbaum Hey Jona - super much appreciated - thank you!!

[2021-04-21 16:56] fmherschel commented on #184
Could you share which SLES for SAP version you have used  for testing?
If I am tesing it on SLE15 code base I also get the "with quorum".

[2021-04-21 17:11] centiqchris commented on #184
I was using SLES 12 SP5.

[2021-05-04 05:55] jsrain commented on #189
I would actually question whether we should adapt to the media, since I don't see how - because now we ship the media which this article describes how to build. Yes, we could provide an idea how to reduce the size of the Full media for customers who need an ISO but not all modules if there is a demand.

So, perhaps it would only make sense to not that it only applies for 15-SP1 and older?

[2021-05-05 11:17] wtmpx opened #200 "[doc] 4.4.4 Adapting SAP Profiles to Match the SAP NW-HA-CLU 7.40 Certification"
4.4.4  Adapting SAP Profiles to Match the SAP NW-HA-CLU 7.40 Certification:

https://documentation.suse.com/sbp/all/single-html/SAP_NW740_SLE15_SetupGuide/?_ga=2.263828303.257109316.1620117880-128360239.1613730854#_adapting_sap_profiles_to_match_the_sap_nw_ha_clu_7_40_certification

According to: https://bugzilla.suse.com/show_bug.cgi?id=1184983#c24,, we need to tell customer to change Autostart t

[2021-05-05 12:50] chabowski commented on #200
@fmherschel @pirat013 Hi Fabian and Bernd, would you mind having a look at the comment? I have marked it as bug for now. Thanks very much!

[2021-05-05 14:03] fmherschel commented on #200
@chabowski Yes I will do so ...

[2021-05-05 14:05] fmherschel commented on #200
@wtmpx I my installations I did not had the need to change that as we used the SAP installation procedure for HA which already seams to set this parameter correctly.

[2021-05-05 14:11] fmherschel commented on #200
To be more precise the Autostart parameter is NOT set in the profiles of my installation which implies the default 0 (no automatic start of the SAP instance).
Maybe better than telling them to *change * the parameter we should add something that the customer should *check* that the parameter is NOT set to autostart (value 1).

[2021-05-05 14:12] fmherschel commented on #200
Changing issue from "bug" (that's really not the case) to "enhancement".

[2021-05-05 14:39] chabowski commented on #200
@fmherschel of course! Thanks very much for the immediate reaction :-).

[2021-05-06 07:15] wtmpx commented on #200
@fmherschel ,, I just opened documentation bug based on Lars request. In my recent NW installation, this parameter set to 1. However, in my cluster everything is working good. Thanks a lot Fabian.

[2021-05-28 08:16] centiqchris commented on #184
Any updates on this?

[2021-06-07 14:19] chabowski commented on #184
@fmherschel Fabian, could you look into this issue again? If yes, could you please inform Chris? Thank you very much!

[2021-06-08 11:59] sknorr opened #204 "DC-SBP-SAP-MULTI-SID broken after DAPS 3.1 update"
DC-SBP-SAP-MULTI-SID uses several AsciiDoc attributes that are not defined. Previous versions of DAPS did not check for that but with 3.1, this issue is actually detected.

Unfortunately, in the case of DC-SBP-SAP-MULTI-SID, I was not certain what to replace these undefined attributes with. The issue is with the following attributes being used but not defined:

[code]

Maybe these are just misspel

[2021-06-15 11:09] pirat013 commented on #204
@sknorr Thanks your are right. Could you please modify the string to match the variables?
Thanks Bernd

[2021-06-15 11:50] sknorr commented on #204
Thanks for the feedback, fixed in d044700.

[2021-06-15 11:50] #204 closed

[2021-08-18 12:35] EthanB11 opened #211 "[doc] 1.1 Security for SAP HANA"
1.1  Security for SAP HANA:

https://documentation.suse.com/sbp/all/html/OS_Security_Hardening_Guide_for_SAP_HANA_SLES15/index.html#id-security-for-sap-hana

Link to http://help.sap.com/hana/SAP_HANA_Security_Guide_en.pdf does not work.

[2021-08-18 15:43] chabowski commented on #211
@EthanB11 thanks very much for your comment! Seems the link has changed recently.
For now, you can find the SAP document here:
https://help.sap.com/doc/eec734dbb0fd1014a61590fcb5411390/2.0.05/en-US/SAP_HANA_Security_Guide_en.pdf
This will be updated in the SLES15 Security Hardening Guide for SAP HANA and made available with the next build of the repository.

[2021-08-18 16:00] chabowski commented on #211
Fixed in the document sources. Will be online after the next repo build.

[2021-08-27 04:28] beng16ng opened #212 "Will there be a version of SAP_HA740_SetupGuide_AWS for SLES 15?"
:

https://documentation.suse.com/sbp/all/html/SAP_HA740_SetupGuide_AWS/index.html#

Will there be an updated document for SLES 15?

[2021-09-03 16:16] rjmayne opened #215 "[doc] Example&nbsp;2: SAP NetWeaver 7.5"
Example&nbsp;2:  SAP NetWeaver 7.5 :

https://documentation.suse.com/sbp/all/single-html/SAP_NW740_SLE15_SetupGuide/#id-1.5.14.6

Should the following paths:

nfs1:/data/nfs/suseEnqReplNW740/HA1/sapmnt
nfs1:/data/nfs/suseEnqReplNW740/HA1/usrsapsys

contain NW750 rather than NW740 when Netweaver 7.5 is being used?

[2021-09-06 11:54] #211 closed

[2021-09-06 11:58] chabowski commented on #212
@fmherschel @pirat013 can you please have a look at the question and give an answer? Thank you very much!

[2021-09-06 12:05] chabowski commented on #215
@rjmayne
Hi Richard, to me this looks like a copy & paste mistake.

@fmherschel @pirat013 would you mind having a look and let me know? Also, if only the "740" is wrong here in the example for 7.50, or if anything else needs to be changed in this screen? Thank you very much!

[2021-09-06 12:06] chabowski commented on #184
@fmherschel @centiqchris just checking in: is this solved? Thanks very much!

[2021-09-08 12:42] lpinne opened #216 "[doc] 3.4 The Concept of the Performance Optimized Scenario"
3.4  The Concept of the Performance Optimized Scenario:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-12/#id-the-concept-of-the-performance-optimized-scenario
---
You can configure the level of automation by setting the parameter AUTOMATED_REGISTER. If automated registration is activated the cluster will also automatically register a former failed primary to ge

[2021-09-08 16:43] chabowski commented on #216
Hi @fmherschel and @pirat013
Could you please have a look at the comment from Lars and see if this needs to be changed?
Thank you very much! Meike

[2021-09-09 07:43] chabowski commented on #216
resolved

[2021-09-09 07:43] #216 closed

[2021-09-27 12:42] fmherschel commented on #212
Sorry I have no date I could communicate.

[2021-09-27 12:57] chabowski commented on #212
Thank you @fmherschel - but generally, would it be on the the list of papers to update to SLES15? Thanks!!

[2021-09-27 14:13] fmherschel commented on #212
@chabowski This needs to be decided SUSE internally and also together with the cloud partner.

[2021-09-27 14:52] chabowski commented on #212
@fmherschel thank you very much Fabian, for your answers!

[2021-10-05 08:57] fmherschel commented on #216
However Lars should work with me to solve such issues :-) I was ooo at this time.

[2021-10-05 17:20] jhhudso opened #218 "[doc] 1.1.4 The Concept of the Cost Optimized Scenario - misspelled word"
1.1.4  The Concept of the Cost Optimized Scenario:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-CostOpt-12/#id-the-concept-of-the-cost-optimized-scenario

Word, 'example' misspelled as 'exaample' in the following sentence:

"In addition to the description of the concept in this best practice document, read the corresponding SAP documentation such as "Using Secondary S

[2021-10-06 14:56] fmherschel commented on #218
@jhhudso Thanks for reporting

[2021-10-06 14:58] fmherschel commented on #218
Fixed in my repo (fork) so will be fixed hopefully with the next update.

[2021-10-06 14:58] #218 closed

[2021-11-15 10:53] cwickert opened #228 "[doc] 2.2.15 Changing Home Directory Permissions from 775 to 700"
2.2.15  Changing Home Directory Permissions from 775 to 700:

https://documentation.suse.com/sbp/all/html/OS_Security_Hardening_Guide_for_SAP_HANA_SLES15/index.html#id-changing-home-directory-permissions-from-775-to-700

Should read

@jsegitz spotted this during his review at https://github.com/SUSE/doc-sle/pull/1010. I'll take care of this.

[2021-11-15 11:38] cwickert commented on #228
Fixed in d27bff58.

[2021-11-15 11:38] #228 closed

[2021-11-15 11:52] cwickert opened #229 "[doc] 2.2.5 Implementing 'cron.allow'"
2.2.5  Implementing <code class="literal">cron.allow</code>:

https://documentation.suse.com/sbp/all/html/OS_Security_Hardening_Guide_for_SAP_HANA_SLES15/index.html#id-implementing-cron-allow

cron is not linux-specific, remove 'Linux' here.

(spottet by @jsegitz in https://github.com/SUSE/doc-sle/pull/1013)

[2021-11-15 11:53] cwickert commented on #229
Same goes for section 2.2.6 'Implementing at.allow'

[2021-11-15 12:07] #229 closed

[2021-11-17 11:33] chabowski commented on #215
@fmherschel would you mind having a look? Thank you :-).

[2021-11-17 18:41] jhhudso opened #230 "[doc] 1.1.4 The Concept of the Performance Optimized Scenario"
1.1.4  The Concept of the Performance Optimized Scenario:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-12/#id-the-concept-of-the-performance-optimized-scenario

Using the SAP HANA hook described in this document allows to inform the cluster immediately if the SAP HANA system replication brakes.

should be

Using the SAP HANA hook described in this document all

[2021-11-17 18:50] chabowski commented on #230
Hi @jhhudso Very good catch of a really "funny" typo :-). Thank you very much, this will be fixed soon. Kind regards - Meike

[2021-11-17 18:59] #230 closed

[2021-11-30 08:20] 888jonno opened #232 "[doc]"
:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-15/index.html#id-1.12.6.7.2.4

I'm pretty sure this should read "Restart the HANA database (now secondary) on node 2 as root." rather than "node 1"

[2021-12-07 08:29] jschaef opened #237 "[doc] 7.4 Manual Test of SAP HANA SR Takeover"
7.4  Manual Test of SAP HANA SR Takeover:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-CostOpt-12/index.html#id-manual-test-of-sap-hana-sr-takeover

Please give an example for each step.

[2021-12-07 09:29] chabowski commented on #237
@fmherschel @lpinne Hi Fabian and Lars, would you mind having a look at this issue? I will mark it as enhancement. Thank you very much! Kind regards, Meike

[2021-12-07 09:44] chabowski commented on #232
@fmherschel @lpinne Hi Fabian and Lars!
Could you please check the test cases at:
https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-15/index.html#id-test-cases-for-semi-automation
regarding the comment above? Thank you very much! I have this issue as question for now.

[2021-12-07 12:59] fmherschel commented on #237
@chabowski Sorry no time to do that.

[2021-12-07 13:01] fmherschel commented on #232
@chabowski Sorry currently to work on that.

[2021-12-10 23:27] pinaronald opened #239 "[doc] 7.5 Testing the hook integration"
7.5  Testing the hook integration:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-scaleOut-PerfOpt-15/index.html#id-testing-the-hook-integration

There is a typo, the correct regex should be:
[code]
Which output similar to:
[code]

[2021-12-13 16:45] chabowski commented on #239
@fmherschel @lpinne when you find time, could you have a quick look? Currently we have as regex with output the following:

`----
{mySite1FirstNode}:ha1adm> cdtrace
{mySite1FirstNode}:ha1adm> awk  '/ha_dr_SAPHanaSR.*crm_attribute/ \
     { printf "%s %s %s %s\n",$2,$3,$5,$16 }' nameserver_{mySite1FirstNode}.*
2021-05-04 12:34:04.476445 ha_dr_SAPHanaS.*SFAIL
2021-05-04 12:53:06.316973 ha_dr_SAPHana

[2021-12-15 19:41] chabowski commented on #239
@pinaronald the issue should be fixed, the updated document will be available by the end of this week.
@fmherschel thank you very much!

Closing the issue.

[2021-12-15 19:41] #239 closed

[2021-12-17 12:42] lpinne opened #241 "[doc] Example&nbsp;14: Simple backup for the system database and all tenants with one singe backup call"
Example&nbsp;14:  Simple backup for the system database and all tenants with one singe backup call :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/#id-1.9.7.4

[2021-12-17 12:44] lpinne commented on #241
Hi,

in the below example, the {refInst} likely should have been resolved before publishing:
---
hdbsql -i {refInst} -u SYSTEM -d SYSTEMDB \
   "BACKUP DATA FOR FULL SYSTEM USING FILE ('backup')"
---

Regards,
Lars

[2021-12-20 14:17] lpinne commented on #241
Hi Meike,

{refInst} is a variable to be resolved by the string "<instanceNumber>" as listed in Var_SLES4SAP-hana-scaleOut-PerfOpt-15.txt.

Regards,
Lars

[2021-12-20 14:18] lpinne commented on #241
oh - that smart editor removed the string
"\<instanceNumber\>"

[2022-01-13 08:28] lpinne opened #245 "[doc] 2 Supported scenarios and prerequisites"
2  Supported scenarios and prerequisites:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-CostOpt-15/#cha.hana-sr.scenario

minor typo:
"srConnectionChanegd()" should be "srConnectionChanged()"

Regards,
Lars

[2022-01-13 10:28] lpinne commented on #245
SLES4SAP-hana-sr-guide-CostOpt-12.adoc
is also affected

[2022-01-13 15:38] emilianolangella opened #246 "[doc] Example&nbsp;1: Installing additional software for the HA cluster"
Example&nbsp;1:  Installing additional software for the HA cluster :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#id-1.7.5.4.3

"supportutil-plugin-ha-sap" should be "supportutils-plugin-ha-sap".

[2022-01-13 16:22] fmherschel commented on #246
Thanks for reporting, we will change that as soon as possible.

[2022-01-17 14:04] chabowski commented on #246
-This is fixed and merged. Closing issue. Thank you very much!

[2022-01-17 14:04] #246 closed

[2022-01-17 14:18] chabowski commented on #245
This issue is fixed in both documents. SBP repo will most probably be rebuilt today. Closing the issue. Thank you very much!

[2022-01-17 14:18] #245 closed

[2022-01-20 14:56] pankb19 opened #248 "[doc] 6.2.6 Restarting ASCS In-Place Using Stop and Start"
6.2.6  Restarting ASCS In-Place Using Stop and Start:

https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE12/index.html#id-restarting-ascs-in-place-using-stop-and-start

when I am manually stopping ASCS using stopsap / sapcontrol -nr 00 -function Stop, ASCS node is moving to another node, but in guide its mention
"6.2.6 Restarting ASCS In-Place Using Stop and Start REPORT DOCUMEN

[2022-01-20 15:23] chabowski commented on #248
Thank you @pankb19 for reporting your issue.

@fmherschel @lpinne would you mind having a look at the issue? Thank you very much! Kind regards - Meike

[2022-01-20 16:43] lpinne commented on #248
Hi Pankaj,

as all sapcontrol operations, local restart should work with active cluster.
This the idea behind sap-suse-cluster-connector, and pre-requisite for SAP HA cluster certification.

If that test does not work as expected, that usually indicates an issues with either the test procedure
or with the setup. Basis is proper integration of sap-suse-cluster-connector.
Common mistakes are left-ov

[2022-01-20 16:53] #248 closed

[2022-01-21 06:39] pankb19 commented on #248
hi Lars,

thanks a lot

[2022-01-25 03:27] Rajpratik71 opened #249 "[doc] 4 Limiting Ceph to Specific Nodes"
4  Limiting Ceph to Specific Nodes:

https://documentation.suse.com/sbp/all/single-html/SBP-rook-ceph-kubernetes/index.html#sec-limit-ceph-specifc-nodes

Hii, does this approach also works for OSDs ?

Is it possible to restrict rook-ceph to use only labeled nodes for OSDs ?

[2022-01-27 17:02] petersatsuse opened #250 "[doc] 5 Downloading and configuring the SUSE Automation code"
5  Downloading and configuring the SUSE Automation code:

https://documentation.suse.com/sbp/all/single-html/TRD-SLES-SAP-HA-automation-quickstart-cloud-aws/#id-downloading-and-configuring-the-suse-automation-code

The sentence  below has GCP in it, but its for all 3 hypervisores, so it need to be remove

wrong:
  Then, generate SSH key pairs to allow for accessing the GCP SAP HANA instances:

rig

[2022-01-28 15:12] fmherschel opened #251 "[doc] Example&nbsp;6: File /usr/sap/HA1/SYS/profile/HA1_ERS10_sapha1er"
Example&nbsp;6:  File /usr/sap/HA1/SYS/profile/HA1_ERS10_sapha1er :

https://documentation.suse.com/sbp/all/single-html/SAP_NW740_SLE15_SetupGuide/#id-1.6.9.5.6

Two problems here:
1. Due to formatting the  the profile path is in uppercase
2. Path in example does not match the /usr/sap/sapservices entries (ERS10/profile vs SYS/profile)

[2022-01-31 14:15] lpinne opened #252 "[doc] 4.4.4 Adapting SAP Profiles to Match the SAP NW-HA-CLU 7.40 Certification"
Hi,

4.4.4  Adapting SAP Profiles to Match the SAP NW-HA-CLU 7.40 Certification:

https://documentation.suse.com/sbp/all/html/SAP_NW740_SLE12_SetupGuide/index.html#id-adapting-sap-profiles-to-match-the-sap-nw-ha-clu-7-40-certification

This section should mention to make sure
---
Autostart = 1
---
is NOT set.

Regards,
Lars

[2022-01-31 14:17] lpinne opened #253 "[doc] 4.4.4 Adapting SAP Profiles to Match the SAP S/4-HA-CLU 1.0 Certification"
Hi,

4.4.4  Adapting SAP Profiles to Match the SAP S/4-HA-CLU 1.0 Certification:

https://documentation.suse.com/sbp/all/html/SAP_S4HA10_SetupGuide-SLE15/index.html#id-adapting-sap-profiles-to-match-the-sap-s4-ha-clu-1-0-certification

this section should mention to make sure
---
Autostart = 1
---
is NOT set.

Regards,
Lars

[2022-02-03 17:41] Rajpratik71 commented on #249
found It is supported to restrict OSDs to specific Nodes

[2022-02-03 17:41] #249 closed

[2022-02-17 11:06] wtmpx opened #259 "[doc] 8.1 Installing the cluster packages"
8.1  Installing the cluster packages:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/#id-installing-the-cluster-packages

The package name with capital S: SAPHanaSR-ScaleOut

[2022-02-17 11:07] wtmpx opened #260 "[doc] 7.1 Implementing the HA/DR provider hook SAPHanaSrMultiTarget.py"
7.1  Implementing the HA/DR provider hook SAPHanaSrMultiTarget.py:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/#id-implementing-the-hadr-provider-hook-saphanasrmultitarget-py

This step should be moved forward because the srHook coming from SAPHanaSR-ScaleOut package and this will be installed in next section.

[2022-02-17 11:16] roseswe opened #261 "[doc] 13.2 Example Cluster Configuration"
13.2  Example Cluster Configuration:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-12/#id-example-cluster-configuration

record-pending=true
This is for ENSA1/2 cluster important, but for HANA SRA cluster record-pending should be "=false"

[2022-02-17 11:46] fmherschel commented on #259
Nice finding, we will fix that in the next version.

[2022-02-17 11:58] fmherschel commented on #260
@wtmpx We will have a look in that. Thanks for reporting. While your other issue was quite easy to solve (I already created commits) this one needs to be checked more carefully. Maybe we need to install the package already in this step rather then moving the hook implementation to a later step to avoid to much restarts of SAP HANA.

[2022-02-17 12:00] fmherschel commented on #260
@lpinne We need to discuss that issue some times later.

[2022-02-17 12:08] fmherschel commented on #261
@roseswe No this has always been tested with exactly that setting. And it is also what the new toolset for SLES is doing by default. At least in all my tests so far. We asked about the change of the default record-pending=true (prior it was false) and we got the feedback that now the better tested twig of the code is with record-pending=true. You are right in the past record-pending=false was the

[2022-02-17 15:47] wtmpx opened #263 "[doc] 8.2 Configuring the basic cluster"
8.2  Configuring the basic cluster:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/#id-configuring-the-basic-cluster

while I find this section very good, it is a duplicate of our HAE documentation.
Let us guide customer to check the Quick Setup guide e.g., https://documentation.suse.com/sle-ha/15-SP3/single-html/SLE-HA-installation/

or the full documentatio

[2022-02-17 15:52] wtmpx opened #264 "[doc] 8.3.1 Cluster bootstrap and more"
8.3.1  Cluster bootstrap and more:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/#id-cluster-bootstrap-and-more

Please remove
cluster-name=hacluster \
from crm-bs.txt ; it will overwrite customer setting.

[2022-02-17 16:58] fmherschel commented on #264
@wtmpx Again the setup-guide describes a tested, validated and working solution. If you like to have an other cluster name you are free to enter it either in the crm-bs.txt or to skip it.

[2022-02-17 16:59] fmherschel commented on #264
@wtmpx we will discuss, if we will follow your hint or not.

[2022-02-17 17:35] fmherschel commented on #263
@wtmpx The setup-guide should lead to the running cluster. In the references we point to the full product documentation. So in my opinion the current way to describe the cluster in the guide is as it should be. We need to balance between adding to much variants in the setup guide on one hand and on always pointing out to other documents at to much places as this breaks the user experience. So for

[2022-02-18 10:17] wtmpx commented on #263
@fmherschel Okay, let me close it, I agree with you.

[2022-02-18 10:17] #263 closed

[2022-02-18 11:04] wtmpx opened #265 "[doc] 8.4.1 Verifying the communication between the hook and the cluster"
8.4.1  Verifying the communication between the hook and the cluster:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/#id-verifying-the-communication-between-the-hook-and-the-cluster

In test I got this error: crm_attribute -G  -n hana_<sid>_glob_srHook
Error performing operation: No such device or address

Looking at my configuration I see:
	hana_so1_glob_upd=

[2022-02-18 12:33] wtmpx commented on #265
Hi Lars,

I missed pasting it in github.

# crm_attribute -G  -n hana_so1_glob_srHook
scope=crm_config  name=hana_so1_glob_srHook value=(null)
Error performing operation: No such device or address

Regards,
Ahmad

[2022-02-18 12:35] wtmpx commented on #265
Hi Fabian,

Yes, I'm using SAPHanaSrMultiTarget.py ; not the old srHook: SAPHanaSR.py

[2022-02-18 13:47] wtmpx commented on #265
Hi Lars,

I kill the nameserver and cluster moved HANA to SiteB. And now I see this:

crm_attribute -G  -n hana_so1_glob_srHook
scope=crm_config  name=hana_so1_glob_srHook value=SWAIT

Should we add something here https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/#id-verifying-the-communication-between-the-hook-and-the-cluster regarding this?

Thanks
Ahmad

[2022-02-18 14:46] lpinne commented on #265
Hi Ahmad,

1) It is general characteristic of crm/CIB to show such a message in case the attribute does not exists. This is not specific to SAPHanaSR.py.
2) The guide already mentions how to check HANA traces and Linux messages for HANA HADR events and
related CIB access. Manual pages SAPHanaSR-ScaleOut(7) and SAPHanaSR.py(7) are explaining
when and how the hook script is called and what is does.

[2022-02-18 15:09] wtmpx commented on #265
Hi Lars,
Sure. Just I am saying step 8.4.1 will not work as written in the docs because in the guide the test section coming later.

Thanks,
Ahmad

[2022-02-23 11:41] twillhal opened #266 "[doc] Example&nbsp;4: Installing PCM from source"
Example&nbsp;4:  Installing PCM from source :

https://documentation.suse.com/sbp/sap/html/SBP-SLES4SAP-sap-infra-monitoring/index.html#id-1.5.5.3

PCM has recently switched to cmake. You should update the build instructions accordingly:
mkdir build
cd build
cmake ..
cmake --build .

Furthermore, the ".x" has been dropped from the binary name, i.e. it is now called "pcm-sensor-server" only.

[2022-02-23 12:33] #250 closed

[2022-02-23 12:36] chabowski commented on #266
@gereonvey could you please have a look at the issue and let me know if you would like to open a PR, or if I should fix it according to the instructions from @twillhal . Thank you!

[2022-02-25 15:08] gereonvey commented on #266
@chabowski I tested the build and adapted the instructions accordingly.

[2022-02-25 22:20] Thr3d opened #270 "[doc] 4.5 Tagging the EC2 Instances"
4.5  Tagging the EC2 Instances:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-15_AWS/index.html#id-tagging-the-ec2-instances

Using a capitalized value for the EC2 fence tag will cause the fence operation to fail even if the node's hostname is capitalized.
A note should be added here mentioning the value needs to be lowercase.

Example: `pacemaker` tag value is `SAP15

[2022-02-28 22:08] m0rbo opened #271 "[doc] 8.1 Implementing the Python Hook SAPHanaSR"
8.1  Implementing the Python Hook SAPHanaSR:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-12/index.html#id-implementing-the-python-hook-saphanasr

Based on various bugs i've discovered today, srHooks are not valid and working with HANA 1.0.
https://bugzilla.suse.com/show_bug.cgi?id=1182201
https://bugzilla.suse.com/show_bug.cgi?id=1178017
https://bugzilla.suse.com/sh

[2022-03-01 07:50] chabowski commented on #270
@fmherschel @lpinne could you please have a look at this issue? Thanks very much :-).

[2022-03-01 07:57] chabowski commented on #271
@fmherschel @lpinne would you mind having a look at this one, too? If verified, does this impact other versions of the doc for SLES15 etc? Thank you!

[2022-03-01 08:54] lpinne commented on #271
Hi m0rbo,

good point.
1. In fact HANA 1.0 should be out of support from SAP now.
2. You can run a cluster without SAPHanaSR. That is not recommended, but possible. Was the only way for some years.
3. The complete requirements are listed in man pages SAPHanaSR(7) and SAPHanaSR.py(7). Both are referenced in the setup guide.

We are just about updating the SAP HANA scale-up perf-opt guide. I will tr

[2022-03-01 08:54] #271 closed

[2022-03-01 09:09] chabowski commented on #266
updated document will be published with the next public build of the SBP repository. Thanks all!

[2022-03-01 09:09] #266 closed

[2022-03-01 09:10] lpinne commented on #270
Hi Thr3d, hi Meike,

we need to discuss who should handle that cloud platform specific requests.

Regards,
Lars

[2022-03-01 13:53] m0rbo commented on #271
Hi Thanks for the info Lars.
Just wanted to point out that currently the man page also seems to be wrong.
Current man page (man SAPHanaSR.py) states:
"REQUIREMENTS
       1. SAP HANA starting with version 1.0 SPS 11 patch level 112.02.  Older versions do not provide the srHook method srConnectionChanged()."

Which also is not valid?

However, I understand this bug was created to address that:
http

[2022-03-01 15:24] lpinne commented on #271
Hi m0rbo,

it has been a little complicated in the past:
1. HANA 1.0 prior to patch level 112 do not support srConnectionChanged() at all
2. HANA 1.0 patch level 112.02 supports srConnectionChanged(), but not multi-target replication.
3. SAPHanaSR.py in SAPHanaSR-ScaleOut 0.16x is without mult-target replication
4. SAP HANA 2.0 SPS 04x supports srConnectionChanged() with multi-target replication
5

[2022-03-02 14:18] stephenmogg commented on #270
Hi Meike,  I just updated the doc and logged a bug for this.

[2022-03-02 16:21] chabowski commented on #270
Hi Stephen, thank you very much! The changes will be online with the next repo build - this however will only happen somewhen next week. Hope this is okay.

[2022-03-03 14:10] chabowski opened #273 "Broken links in many SAP setup guides"
Hi @lpinne and @fmherschel,

we found broken links for two specific SAP documents/resources which are referenced in several SAP setup guide SBPs.

- SAP_HA740_SetupGuide_AWS.adoc
- SAP-NetWeaver-7.50-SLE-15-Setup-Guide-AliCloud.adoc
- sap-nw740-sle15-setupguide.adoc
- SAP_NW740_SLE12_SetupGuide/index.html
- SAP_S4HA10_SetupGuide_SLE12.adoc
- SAP-S4HA10-setupguide-sle15.adoc

The broken links are:

[2022-03-03 15:55] fmherschel commented on #273
@chabowski I need some time to check those links. In parallel @lpinne also works on changes of setup guides.
@lpinne I (Fabian) will work on this task here so we do not get an  overlap.

[2022-03-03 16:13] lpinne commented on #273
Hi Meike, hi Fabian,

1. I will check if this guides are affected and will suggest fixes:
     - SAP-S4HA10-setupguide-sle15.adoc
     - sap-nw740-sle15-setupguide.adoc
    BTW: Should it be "SAP-NW740" or "sap-s4ha10"?

2. SLE12 guides should not be changed anymore:
    - SAP_NW740_SLE12_SetupGuide/index.html
    - SAP_S4HA10_SetupGuide_SLE12.adoc
    - SAP_HA740_SetupGuide_AWS.adoc

3. This guid

[2022-03-03 16:33] chabowski commented on #273
Hi @lpinne @fmherschel: all six guides that are affected by the broken links are listed on top in the first comment.

Please do not rename the existing guides yourself. This is something I will do over time (and this is mainly for better Search Engine Optimization) to the lower case file name versions, not using underscores. But each renamed document needs a redirect on our publication server DocS

[2022-03-03 16:35] chabowski commented on #273
Hi @lpinne you can just leave it to me - I will update the broken links as I have a bigger list with other SBPs, too, that have broken links. I just needed confirmation which URLs to refer to for the broken links :-). Once again, thank you very much!

[2022-03-05 11:32] chabowski commented on #273
Broken links in all papers above are fixed. Closing issue.

[2022-03-05 11:32] #273 closed

[2022-03-08 15:59] chabowski opened #274 "[doc] 8 Set Up SAP HANA HA/DR providers"
8  Set Up SAP HANA HA/DR providers:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-15/index.html#id-set-up-sap-hana-hadr-providers

In chapter 8 of this guide (the overview), you speak about a procedure with 5 steps:

[code]

However, only step 1 - 3 are described in subsections 8.1 (Implementing the Python Hook SAPHanaSR), 8.2 (Configuring System Replication Operation

[2022-03-17 21:33] roseswe commented on #192
Seems this topic is still open ....

[2022-03-25 12:17] pinaronald opened #278 "[doc] 13.2 Example cluster configuration"
13.2  Example cluster configuration:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-costopt-15/index.html#id-example-cluster-configuration

Most probably a copy/paste mistake, but the negative location constraint should address QAS instance not HA1:

[code]

[2022-03-25 14:45] fmherschel commented on #278
@pinaronald Thanks for this report. I will have a look on this soon as soon as ... p.

[2022-03-25 14:47] fmherschel commented on #278
Ok I see in the explained example it is ok but it is wrong in the complete dump of the crm config.

[2022-03-25 14:53] fmherschel commented on #278
As we are using variables, unfortunately we used the variables for the SR system, not for the non-replicated-system.

[2022-03-25 15:01] #278 closed

[2022-03-25 15:01] fmherschel commented on #278
Closing issue.

[2022-03-25 15:04] pinaronald commented on #278
Thank you Fabian, much appreciated!

[2022-03-30 08:30] varkoly opened #281 "[doc] 9.3.2 STONITH Device"
9.3.2  STONITH Device:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-12_AWS/index.html#id-stonith-device

Following part is not correct:
'The "tag=pacemaker" entry needs to match the tag chosen for the EC2 instances. The value for this tag contains the host name returned by the uname -n command.'
uname -n delivers the hostname as set. It can contain upper case letters

[2022-03-30 08:34] varkoly opened #282 "[doc] 6.2.3 Configuration of AWS specific Stonith Resource"
6.2.3  Configuration of AWS specific Stonith Resource:

https://documentation.suse.com/sbp/all/single-html/SAP_HA740_SetupGuide_AWS/#id-configuration-of-aws-specific-stonith-resource

Part is not correct:
'The value for this tag will contain the host name.'
Correct:
The value for this tag will contain the sort part of the hostname converted in lower case: `hostname -s | tr [[:upper:]] [[:lower:]]`

[2022-03-30 08:41] varkoly opened #283 "[doc] 4.5 Tagging the EC2 instances"
4.5  Tagging the EC2 instances:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-perfopt-15-aws/#id-tagging-the-ec2-instances

Following part is not correct:
'A tag with the key pacemaker and the host name has been created.'
A tag with the key pacemaker and the sort part of host name in lower case has ben created.

[2022-03-30 08:42] varkoly opened #284 "[doc] 9.3.2 STONITH device"
9.3.2  STONITH device:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-perfopt-15-aws/#id-stonith-device

Following part is not correct:
'The "tag=pacemaker" entry needs to match the tag chosen for the EC2 instances. The value for this tag contains the host name returned by the uname -n command.'
uname -n delivers the hostname as set. It can contain upper case letters.
T

[2022-04-01 09:55] roseswe opened #286 "[doc] 13.2 Example Cluster Configuration"
13.2  Example Cluster Configuration:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-12/#id-example-cluster-configuration

Mismatch of 2000: points and Optional:

Snippet:
# vi crm-cs.txt
# enter the following to crm-cs.txt

colocation col_saphana_ip_HA1_HDB10 2000: rsc_ip_HA1_HDB10:Started \
    msl_SAPHana_HA1_HDB10:Master
order ord_SAPHana_HA1_HDB10 Optional:

[2022-04-04 07:44] andreas-mach opened #287 "[doc] 8 Set Up SAP HANA HA/DR providers"
8  Set Up SAP HANA HA/DR providers:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-12/#id-set-up-sap-hana-hadr-providers

---

I'm missing the subchapters - also for SBP - SLE 15:

4. Start SAP HANA

5. Test the hook integration

Thx

[2022-04-04 17:38] chabowski commented on #281
Hi @fmherschel @lpinne could you please have a look? More to come btw. :-). Thank you very much!

[2022-04-04 17:39] chabowski commented on #282
Hi @fmherschel @lpinne here is the next one. Thank you very much!

[2022-04-04 17:40] chabowski commented on #283
Hi @fmherschel @lpinne and again another one. Thank you very much!

[2022-04-04 17:41] chabowski commented on #284
Hi @fmherschel @lpinne This one is the last issue that had been submitted by Peter. Once again, thank you very much!

[2022-04-04 17:44] chabowski commented on #287
Hi again, @fmherschel and @lpinne - would you mind checking this issue? Are there steps / chapters missing? Thank you very much for your help!

[2022-04-05 07:00] lpinne commented on #282
Hi Meike,
unfortunately I can not contribute anything to those cloud specific setup details.
Would you mind involving someone who is more famliar with that topics, e.g. Stephen or Kevin?
Sorry for this!
Regards,
Lars

[2022-04-05 07:23] lpinne commented on #284
Hi Meike,
unfortunately I ca not contribute anything to this cloud specific iusses.
Would you mind involving someone who is more familiar with this, e.g. Stephen or Kevin?
Sorry for this!
Regards,
Lars

[2022-04-05 13:23] fmherschel commented on #281
@chabowski Needs to be parked. We are in sync with @varkoly in direct communication. Does not have the need to be shared all in the public space.

[2022-04-05 13:27] fmherschel commented on #287
@chabowski Missing? - no - available ?- also no. So what? Oh they just have been skipped to be written ,-)

[2022-04-08 15:51] varkoly opened #288 "[doc] 6.2 Checking if the SAP hostagent is installed on all cluster nodes"
6.2  Checking if the SAP hostagent is installed on all cluster nodes:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#id-checking-if-the-sap-hostagent-is-installed-on-all-cluster-nodes

Bad:
# /usr/sap/hostctrl/exe/saphostctrl ­function ListInstances
Right:
# /usr/sap/hostctrl/exe/saphostctrl ­-function ListInstances

[2022-04-19 14:19] wtmpx opened #289 "[doc] 8 Set Up SAP HANA HA/DR providers"
8  Set Up SAP HANA HA/DR providers:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-12/index.html#id-set-up-sap-hana-hadr-providers

The following two sections are missing:
Start SAP HANA
Test the hook integration

Especially the 2nd one.

Also, could you give us hint why the HanaSR hook could fail loading?
e.g.,
[15333]{-1}[-1/-1] 2022-04-19 16:05:40.483796 e python

[2022-04-19 15:28] #289 closed

[2022-04-19 15:28] wtmpx opened #290 "[doc] 8 Set Up SAP HANA HA/DR providers"
8  Set Up SAP HANA HA/DR providers:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-12/index.html#id-set-up-sap-hana-hadr-providers

The following two sections are missing:
Start SAP HANA
Test the hook integration

[2022-04-22 11:46] lpinne opened #291 "[doc] Example&nbsp;31: Stopping the cluster"
Hi,

in chapter
Example&nbsp;31:  Stopping the cluster :
https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-perfopt-15-aws/#id-1.11.6.3.3

the command
"systemctl stop pacemaker"
leads to unclean node, because corosync keeps running.
The correct command is either
"crm cluster stop"
or
"systemctl stop corosync"

Regards,
Lars

[2022-04-22 14:11] varkoly opened #292 "[doc] Example&nbsp;2: Simple backup for the system database and all tenants with one single backup call"
Example&nbsp;2:  Simple backup for the system database and all tenants with one single backup call :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#id-1.9.6.3
This command do not work in any case:
hdbsql -u SYSTEM -d SYSTEMDB \
   "BACKUP DATA FOR FULL SYSTEM USING FILE ('backup')"

The command should be called:
hdbsql -i 10 -u SYSTEM -d SYSTEMDB \
   "BACKU

[2022-05-09 16:38] m0rbo opened #293 "[doc] Table&nbsp;3: SBD Options in File /etc/sysconfig/SBD"
Table&nbsp;3:  SBD Options in File /etc/sysconfig/SBD :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#id-1.11.5.5.4.4

Typo in this paragraph:
SBD_WATCHDOG_TIMEOUT
"This parameter must match your storage environemt."
"environemt"
should be "environment"

[2022-05-11 08:26] ajaeger opened #294 "[doc] Figure&nbsp;3: The five main topics of the OS Security Hardening for HANA"
Figure&nbsp;3:  The five main topics of the OS Security Hardening for HANA :

https://documentation.suse.com/sbp/sap/single-html/OS_Security_Hardening_Guide_for_SAP_HANA_SLES15_SP2_and_later/#id-1.3.8.3

Typo: "O pen" in "O pen source software is frequently reviewed and tested"

[2022-05-19 06:27] varkoly opened #296 "[doc] 3.5 Important prerequisites"
3.5  Important prerequisites:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/#id-important-prerequisites

Some prerequisites were listed twice:

"All SAP HANA instances controlled by the cluster must not be activated via sapinit auto-start."  and "Automated start of SAP HANA instances during system boot must be switched off."  mean the same thing. One of them

[2022-05-25 08:18] varkoly opened #297 "[doc] Example&nbsp;5: SSH key creation and exchange"
Example&nbsp;5:  SSH key creation and exchange :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/#id-1.7.6.3.4

This is IMHO senceless:
"After collecting all host keys store them in a file named authorized_keys. Push the entire directory /root/.ssh/ from the first node to all further cluster members."
In authorized_keys should be saved the id_rsa.pub if the cu

[2022-05-27 08:47] fmherschel commented on #297
Thanks for your fix! I need to also transfer that to other guides, I will open an own issue for that.

[2022-05-27 08:47] #297 closed

[2022-05-27 08:51] fmherschel opened #299 "ssh host keys not to be copied to authorized keys"
Like issue #297 but the fix #298 needs to be adopted for other best practice guides as well.
These are:
* adoc/SLES4SAP-hana-scaleOut-PerfOpt-12-AWS.adoc
* adoc/SLES4SAP-hana-scaleOut-PerfOpt-12.adoc
* adoc/SLES4SAP-hana-scaleOut-PerfOpt-15.adoc (already fixed by #298)

[2022-05-27 18:10] anmozz opened #301 "[doc]"
:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-15/index.html#id-1.12.6.5.2.4

On Example 17, Recovery procedure, point 2:
mistaken:
Restart the HANA database (now secondary) on node **1** as root.
should be:
Restart the HANA database (now secondary) on node **2** as root.

[2022-05-27 18:14] anmozz opened #302 "[doc]"
:

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-15/index.html#id-1.12.6.7.2.4

On example 19, recovery procedure, point 2:
mistaken:
Restart the HANA database (now secondary) on node **1** as root.
should be:
Restart the HANA database (now secondary) on node **2** as root.

[2022-06-15 03:20] behnazh-w opened #304 "[doc] SLSA provenance examples"
I have read [this article](https://documentation.suse.com/sbp/server-linux/html/SBP-SLSA4/index.html) on how all SUSE products are compliant with most of the requirements at level 4. Based on this article SUSE build pipelines already generate SLSA provenances.

I would like to download a sample provenance and test/verify it. Where can I find the relevant instructions and examples?

[2022-06-15 13:59] alexarnoldy opened #305 "Malformed command at https://documentation.suse.com/sbp/all/single-html/SBP-KubeVirt-SLES15SP3/index.html#sec-virtualization-kubevirt-cdi-installation"
Command provided is "sudo $ sudo zypper in containerized-data-importer-manifests" but should be "sudo zypper in containerized-data-importer-manifests"

[2022-06-20 12:04] #305 closed

[2022-06-20 12:21] chabowski commented on #294
Thank you @ajaeger this is fixed and will be published with the next repo update

[2022-06-20 12:21] #294 closed

[2022-06-20 12:24] chabowski commented on #304
@janajaeger @msmeissn would you mind having a look and see if you can answer Behnaz' request? Thank you very much!

[2022-06-20 12:40] msmeissn commented on #304
For the record, our processes have been adjusted to be SLSA level 4 compliant and we started shiping provenance only for new build packages with SLES 15 SP4.

An publically downloadable provenance file e.g. would be here:

http://download.opensuse.org/update/leap/15.4/sle/x86_64/bsdtar-3.5.1-150400.3.3.1.x86_64.slsa_provenance.json
this is the signed json format, the payload as base64 decoded can

[2022-06-20 14:32] chabowski commented on #293
Thank you, this has been fixed and will be published with the next build of the repo.

[2022-06-20 14:33] #293 closed

[2022-06-20 15:40] chabowski commented on #301
@fmherschel @lpinne would you please have a quick look and verify? I would then fix that issue. Thanks!

[2022-06-20 15:42] chabowski commented on #302
Of course the same is valid for this issue ;-) ... And probably we should then check the other docs specifically for this??
(from #301 @fmherschel @lpinne would you please have a quick look and verify? I would then fix that issue. Thanks!)

[2022-06-20 16:46] lpinne commented on #301
Hi,

anmozz is right.
Since the database is stopped on node2, it has to be registered and started on node2.

Regards,
Lars

---
10.1.2 Test: Stop primary database on site B (node 2)

Component:
    Primary Database

Description:
    The primary HANA database is stopped during normal cluster operation.

Test Procedure:

    Stop the database gracefully as <sid>adm.
    suse02:~> HDB stop

Recovery

[2022-06-20 16:57] lpinne commented on #302
Hi,

anmozz is right here as well.
Since the database has been killed on node2, it needs to be registered and started on node2.

The recovery is different on scale-up cost-optimized.
Nevertheless the scale-up cost-opt guide might be checked.

Regards,
Lars

[2022-06-21 00:40] behnazh-w commented on #304
Thanks for the provenance example. Is there any documentation for the provenance verifier?

[2022-06-21 06:00] chabowski commented on #302
Bug is fixed, also in the document for version 12. Changes will be visible with the next build of the repo. Closing bug.

[2022-06-21 06:00] #302 closed

[2022-06-21 06:07] chabowski commented on #301
Bug is fixed, also in version 12 of the document. Changes will be published with next build of the repo. Closing bug.

[2022-06-21 06:07] #301 closed

[2022-06-22 14:59] msmeissn commented on #304
We currently do not have such documentation yet. (and not sure about tooling)

We currently work adjustments to tooling where outside people can use our build tool with provnenance file as input to rebuild packages.

[2022-06-22 23:20] behnazh-w commented on #304
Thanks. So, at the moment users can't verify whether the provenance has been contaminated or not. Looks like the only [provenance requirement ](http://slsa.dev/spec/v0.1/requirements#provenance-requirements) that would be satisfied is the `Available ` requirement at level 1, and other requirements, such as `Authenticated`, and `non-falsifiable` at higher levels will not be satisfied, is that corre

[2022-06-23 08:39] adrianschroeter commented on #304
you saw the signatures inside of the provenance files? This are signatures of the payload done with the same signing key as used for entire distro (SLES in this case).

Please note that the in-toto tooling is not yet supporting version 0.2 of the SLSA spec, but I would expect that it can be used to verify these files soon.

[2022-06-23 12:29] OtharSmirnow opened #308 "[doc] 2.2.3 Forwarding syslog files to a central syslog server"
2.2.3  Forwarding syslog files to a central syslog server:

https://documentation.suse.com/sbp/sap/html/OS_Security_Hardening_Guide_for_SAP_HANA_SLES15/index.html#id-forwarding-syslog-files-to-a-central-syslog-server

Issue: Document formatting error
This section contains two recommendations:
Forwarding syslog ... and Disabling ctrl-alt-del

[2022-06-23 13:28] chabowski commented on #308
@abergmann could you and Soeren please have a look at this issue? Thank you!

[2022-07-04 08:27] ajaeger opened #311 "[doc] 1.2 Security for SUSE Linux Enterprise Server"
1.2  Security for SUSE Linux Enterprise Server:

https://documentation.suse.com/sbp/sap/html/OS_Security_Hardening_Guide_for_SAP_HANA_SLES15_SP2_and_later/index.html#id-security-for-suse-linux-enterprise-server

" Currently we are in the process of achieving the same for SUSE Linux Enterprise Server 15"

The EAL 4+ certification for SLES 15 is done, could you update the above sentence, please?

[2022-07-04 08:29] ajaeger opened #312 "[doc] 1.3 About this document"
1.3  About this document:

https://documentation.suse.com/sbp/sap/html/OS_Security_Hardening_Guide_for_SAP_HANA_SLES15_SP2_and_later/index.html#id-about-this-document

Typo:
"Security updates & patches

    O pen source software"

There's an extra space in "O pen"

[2022-07-05 16:08] #312 closed

[2022-07-05 16:08] chabowski commented on #312
fixed - thank you!

[2022-07-05 16:09] chabowski commented on #311
Fixed - changed information. Thank you!

[2022-07-05 16:09] #311 closed

[2022-07-07 03:20] mlehmberg-suse-com opened #314 "[doc]"
Hi , there is a typo in this section it should the and not hte
:

https://documentation.suse.com/sbp/sap/html/SAP-S4HA10-setupguide-simplemount-sle15/index.html#id-1.7.3

[2022-07-07 06:39] chabowski commented on #314
Thanks very much, Marc! This will be fixed with the next build of the public repository.

[2022-07-07 06:43] #314 closed

[2022-07-07 07:47] yeoldegrove opened #315 "[doc] Example 16: Entry in sudo permissions /etc/sudoers.d/SAPHanaSR file - could be more secure"
Example&nbsp;16:  Entry in sudo permissions /etc/sudoers.d/SAPHanaSR file :

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-15/index.html#id-1.10.11.6

The `*` in this section could be changed to something more specific.

[code]

e.g. (not sure this covers all the cases, but it looks like fromt he current code)

[code]

[2022-07-07 08:29] chabowski commented on #315
@fmherschel @lpinne could you please check with Eike? Thank you!

[2022-07-07 10:37] lpinne commented on #315
Hi yeoldegrove, hi chabowski,

thank you for this suggestion!

We might change from
---
Cmnd_Alias HOOK_HELPER  = /usr/sbin/SAPHanaSR-hookHelper *
---
to
---
Cmnd_Alias HOOK_HELPER  = /usr/sbin/SAPHanaSR-hookHelper --case checkTakeover --sid=<sid>
---
That <sid> is consistent with the other example.

Regards,
Lars

[2022-07-11 12:44] scmschmidt commented on #308
https://github.com/SUSE/suse-best-practices/pull/316 should fix the issue in both documents ("OS_Security_Hardening_Guide_for_SAP_HANA_SLES12" and "OS_Security_Hardening_Guide_for_SAP_HANA_SLES15")

[2022-07-11 13:49] chabowski commented on #308
Thank you - closing the issue. Fix will be visible with the next public build of the repo.

[2022-07-11 13:49] #308 closed

[2022-07-11 13:59] chabowski commented on #315
Hi @lpinne thanks for fixing this! Closing the issue now.

[2022-07-11 13:59] #315 closed

[2022-07-12 13:34] pinaronald opened #317 "[doc] Example&nbsp;2: IAM Policy for AWS Data Provider for SAP"
Example&nbsp;2:  IAM Policy for AWS Data Provider for SAP :

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-perfopt-15-aws/index.html#id-1.6.13.4.5

The IAM policy is missing the version date:
    "Version": "2012-10-17",

Leading to the following error:
This policy contains the following error: A managed policy must have a version string For more information about the IAM poli

[2022-07-12 13:34] pinaronald opened #318 "[doc] Example&nbsp;2: IAM Policy for AWS Data Provider for SAP"
Example&nbsp;2:  IAM Policy for AWS Data Provider for SAP :

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-perfopt-15-aws/index.html#id-1.6.13.4.5

The IAM policy is missing the version date:
    "Version": "2012-10-17",

Leading to the following error:
This policy contains the following error: A managed policy must have a version string For more information about the IAM poli

[2022-07-13 11:06] lpinne commented on #317
Hi chabowski,
I am not familiar with AWS IAM policies, unfortunately.
Maybe @stephenmogg could help?
Regards,
Lars

[2022-07-18 13:08] yeoldegrove opened #319 "[doc] Example 25: Entry in sudo permissions /etc/sudoers.d/SAPHanaSR file"
Example 25:  Entry in sudo permissions /etc/sudoers.d/SAPHanaSR file :

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-scaleOut-PerfOpt-15/index.html#id-1.10.7.5

Similar as in #315 we could add some more restrictive sudo permissions here (avoiding `*`).
There is already a TODO hint to the manpage, but https://github.com/SUSE/SAPHanaSR-ScaleOut/blob/71065cc84467eb715f8f1bd200e2f9

[2022-07-19 05:50] chabowski commented on #318
@pinaronald Hi Ronald, issue #318 seems to be a duplicate of issue #317 https://github.com/SUSE/suse-best-practices/issues/317 - so I will close this one. Thank you!

[2022-07-19 05:50] #318 closed

[2022-07-19 05:53] chabowski commented on #319
@lpinne @fmherschel Hi Lars and Fabian - please see another enhancement proposal from Eike. Please let me know if you will implement the suggestion with one of the next updates, and if so, when it is done. Thanks very much.

[2022-07-19 05:54] chabowski commented on #317
@stephenmogg Hi Stephen, would you mind having a look at this issue? Thank you!

[2022-07-22 09:08] andreas-mach opened #320 "[doc] 6.1.2 How to move ASCS"
6.1.2  How to move ASCS:

https://documentation.suse.com/sbp/all/html/SAP_NW740_SLE12_SetupGuide/index.html#id-how-to-move-ascs

What is the useage of this section, should this describe how to move **all** cluster resources away from a node?

As customer mentioned:

Using only the sapcontrol command "sapcontrol -nr 00 -function HAFailoverToNode """ will move ASCS instance to the other node in a tw

[2022-07-26 11:51] stephenmogg commented on #317
Just updated and added a PR.

[2022-08-08 12:28] fmherschel opened #323 "[doc]"
https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#id-checking-the-corosync-configuration

Example for SBD_Setting has multiple errors:

a) SBD_WATCHDOG_TIMEOUT=5 (but text above says 15)
b) SBD_DELAY_START=yes -> this forces nodes to be fenced, if coming to late during a complete cluster start

[2022-08-10 09:36] ab-mohamed opened #324 "Implementing the Python Hook SAPHanaSR Clarification"
Hi @lpinne

Maybe the "optionally" part  needs to be adjusted to align with SUSE best practice - or at least point out the pitfalls (which are sensible).

https://github.com/SUSE/suse-best-practices/edit/main/adoc/SLES4SAP-hana-sr-guide-PerfOpt-12.adoc
[code]

Best regards,
Ab

[2022-10-10 10:26] fmherschel commented on #320
It is intended that the above command only moves the effected SAP instance. This also part of the SAP HA certification.
This method is not intended to be a migrate all resources away. It's the move of *the* central component which is most critical and this is now even possible with an SAP command (sapcontrol).  I tend to close this issue.

[2022-10-10 10:27] #320 closed

[2022-10-10 10:27] fmherschel commented on #320
Hope my explanation is sufficient, closing the issue.

[2022-10-19 12:02] #237 closed

[2022-11-02 11:31] fmherschel commented on #287
For SLE15 code base fixed and published.

[2022-11-02 11:32] #287 closed

[2022-11-05 18:10] PeterPitterling opened #335 "[doc] SAP HANA System Replication Scale-Up in the Cluster - performance optimized chain"
SAP HANA System Replication Scale-Up in the Cluster - performance optimized chain :

https://documentation.suse.com/sbp/all/html/SLES4SAP-hana-sr-guide-PerfOpt-12/index.html#id-1.3.2.7.5.3.2
https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#id-1.3.2.7.5.3.4

Third node should be called "SAP HANA tertiary"?

[2022-11-07 11:50] chabowski commented on #335
@lpinne @fmherschel would you mind having a look? It is in the two graphics. Do you have several "secondary nodes" or a "primary, secondary, tertiary node" here? Thank you!

[2022-11-07 11:58] fmherschel commented on #335
@PeterPitterling is "SAP HANA tertiary" now an official SAP terminology. As far as we have discussed in the SAP HANA HA board and as far as I could remember that is NOT the case and the SAP API names them all "secondaries".
So this is not our (SUSE) decision.

[2022-11-07 12:00] fmherschel commented on #335
In SAP HANA SR there is only a primary and a secondary role implemented.

[2022-11-07 14:19] chabowski commented on #335
Thank you @fmherschel ! I think it was exactly this question that needed to be clarified: in an SAP HANA environment, the term is "secondary" in general.

[2022-11-16 11:56] varkoly opened #339 "[doc] Setting up SAP HANA HA/DR providers"
Setting up SAP HANA HA/DR providers:

https://documentation.suse.com/sbp/all/single-html/SLES4SAP-hana-sr-guide-PerfOpt-15/#cha.s4s.hana-hook

`SAP HANA must be stopped to change the global.ini and allow SAP HANA to integrate the HA/DR hook scripts during start. Alternatively, SAPHanaSR-manageProfile might be used for adapting the global.ini. See manual page SAPHanaSR-manageProfile(8) for details.

[2022-11-16 14:05] fmherschel commented on #339
@varkoly Tahnks!

[2022-11-16 14:20] fmherschel commented on #339
Solved in PR #340.

[2022-11-17 13:43] #339 closed

[2022-11-17 13:43] fmherschel commented on #339
DONE.

[2022-11-17 13:51] #335 closed

[2022-11-17 13:51] fmherschel commented on #335
Hope it's OK to close the issue.

[2022-11-22 07:43] juanbrny opened #341 "[doc] Security for SUSE Linux Enterprise Server"
Security for SUSE Linux Enterprise Server:

https://documentation.suse.com/sbp/sap/html/OS_Security_Hardening_Guide_for_SAP_HANA_SLES15/index.html#id-security-for-suse-linux-enterprise-server

The "security certifications" section refers to SLES 12, not to SLES 15. EAL4+ for SLES 12 certification is expired.

[2022-11-24 13:49] tomschr opened #343 "Adapt source code to new SBP stylesheets"
# Situation

To make issue #342 a success, we need to adapt the source code as well. For example, we miss the correct markup for authors, meta information etc.

# Proposed solution

The following information needs to be added into `<info>`:

* [ ] Correct the list of authors. If you have more than one author, put them all into an `<authorgroup>` element. The order matters. For example:

[code]

*